<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Cruise control configuration.
This script is out of date; we're using continuum.
$Id$
-->
<cruisecontrol>
  <project name="Gemma">
    <bootstrappers>
      <currentbuildstatusbootstrapper file="/proj/cruise-work/logs/Gemma/buildstatus.txt">
      </currentbuildstatusbootstrapper>
    </bootstrappers>
    <modificationset>
      <cvs localWorkingCopy="/proj/cruise-work/checkout/Gemma" cvsroot=":ext:pavlidis@broca.ubic.ca:/cvs">
      </cvs>
    </modificationset>
    <schedule interval="300">
      <maven goal="scm:update-project|clean test|site:deploy" projectfile="/proj/cruise-work/checkout/Gemma/project.xml" mavenscript="C:\java\apps\Maven1.0.2/bin/maven.bat">
      </maven>
    </schedule>
    <log dir="/proj/cruise-work/logs/Gemma" encoding="ISO-8859-1">
      <merge dir="/proj/cruise-work/checkout/Gemma/target/test-reports">
      </merge>
    </log>
    <publishers>
      <currentbuildstatuspublisher file="/proj/cruise-work/logs/Gemma/buildstatus.txt">
      </currentbuildstatuspublisher>
      <htmlemail spamwhilebroken="false" reportsuccess="always" css="/proj/cruisecontrol/reporting/jsp/webcontent/css" mailhost="localhost" buildresultsurl="" subjectprefix="[BUILD]" defaultsuffix="@dbmi.columbia.edu" xsldir="/proj/cruisecontrol/reporting/jsp/webcontent/xsl" logdir="/proj/cruise-work/logs/Gemma" skipusers="false" returnaddress="pavlidis@dbmi.columbia.edu">
        <failure address="pavlidis@dbmi.columbia.edu">
        </failure>
        <success address="pavlidis@dbmi.columbia.edu">
        </success>
      </htmlemail>
    </publishers>
    <plugins>
    </plugins>
  </project>
</cruisecontrol>