Dear ${username},

Your Gemma password has been reset.

Your temporary password is: ${password}

Please confirm by clicking on the following link:

${resetLink}

We recommend that you change your password after logging in by clicking on "Edit your profile" in the top right menu.

Please feel free to contact us at ${supportEmailAddress} or by replying to this email.
