root = true

[/pom.xml]
indent_style=tab

[/gemma-web/pom.xml]
indent_style=tab

[Investigation.hbm.xml]
indent_style=tab

[ExperimentalFactor.hbm.xml]
indent_size=3

[FactorValue.hbm.xml]
indent_size=3

[CompositeSequence.hbm.xml]
indent_size=3

[applicationContext-hibernate.xml]
indent_style=tab

[gemma-web/**/applicationContext-security.xml]
indent_style=tab