root = true

[Jenkinsfile]
indent_style=space
indent_size=4

[init-indices.sql]
indent_size=2

[/pom.xml]
indent_style=tab

[/gemma-web/pom.xml]
indent_style=tab

[BioMaterial.hbm.xml]
indent_size=3

[BioAssay.hbm.xml]
indent_size=3

[Investigation.hbm.xml]
indent_style=tab

[HitListSize.hbm.xml]
indent_size=3

[ExperimentalFactor.hbm.xml]
indent_size=3

[FactorValue.hbm.xml]
indent_size=3

[CompositeSequence.hbm.xml]
indent_size=3

[applicationContext-hibernate.xml]
indent_style=tab

[gemma-web/**/applicationContext-security.xml]
indent_style=tab
