# CVS/git global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
**/DS_Store
# Project ignores (converted from .cvsignore files)
gemma-web/.settings/org.eclipse.m2e.core.prefs
gemma-web/surefire*
gemma-web/surefire-classloader.properties
gemma-web/cobertura.ser
gemma-web/pom.properties
gemma-web/logs
gemma-web/null
gemma-web/ehcache.disk.store.dir
gemma-web/.idea
gemma-web/E:
gemma-web/$HOME
gemma-web/src/main/main.iml
gemma-web/src/main/webapp/*.jsp_preview_.html
gemma-web/src/main/webapp/.idea
gemma-web/src/main/webapp/images/icons/Thumbs.db
gemma-web/src/test/test.iml
.project
.externalToolBuilders
.settings
target
test-build
.myeclipse
.clover
.mymetadata
build
generated-sources
andromda*.exc
*.jar
*.log
velocity.log.*
.myumldata
.fatjar
.myhibernatedata
TempFatjarBuildDir_erase_me
release.properties
.deployment
.Rhistory
bin-groovy
null
EcclesMy.cnf
MargeMy.cnf
test.xml
aba_grin1.xml
aba_atlasImageMap79632316.xml
aba_ImageseriesId_1586.xml
aba_atlasImageMap534.xml
aba_ImageseriesId_79632316.xml
aba_atlasImageMap1586.xml
aba_Grin1.xml
aba_ImageseriesId_534.xml
*.springBeans
ubic.GEOMMTx.mappers.BirnLexMapper.mappings
terracotta
tc-config.xml
ontology.index.dir
cobertura
gemma-backend/.settings/com.google.gwt.eclipse.core.prefs
gemma-backend/cobertura.ser
gemma-backend/logs
gemma-backend/null
gemma-backend/ontology.index.dir
gemma-backend/ehcache.disk.store.dir
gemma-backend/*.hprof
gemma-backend/$HOME
gemma-backend/src/main/native/.deps
gemma-backend/src/main/native/.libs
gemma-backend/src/main/native/.Rhistory
gemma-backend/src/main/native/Blat.lo
gemma-backend/src/main/native/libBlat.la
gemma-backend/src/test/resources/data/loader/expression/geo/meta-analysis/.Rhistory
gemma-backend/src/test/resources/data/loader/expression/geo/meta-analysis/.RData
gemma-backend/src/test/resources/data/search/io/file/index
gemma-backend/*.log
gemma-backend/andromda*.exc
gemma-backend/cobertura.ser
gemma-backend/spring*.exc
gemma-backend/hibernate*.exc
gemma-backend/src/main/uml/*.uml
gemma-backend/src/main/uml/*.bak

# disablyng everything IDEA related - consider changing if more people start using IDEA.
.idea
*.iml

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
