# CVS/git global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
**/.DS_Store
.DS_Store
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
.envrc
.ipynb_checkpoints/

# Project ignores (converted from .cvsignore files)
gemma-web/.settings/org.eclipse.m2e.core.prefs
gemma-web/surefire*
gemma-web/surefire-classloader.properties
gemma-web/cobertura.ser
gemma-web/pom.properties
gemma-web/logs
gemma-web/null
gemma-web/ehcache.disk.store.dir
gemma-web/E:
gemma-web/$HOME
gemma-web/src/main/main.iml
gemma-web/src/main/webapp/*.jsp_preview_.html
gemma-web/src/main/webapp/images/icons/Thumbs.db
gemma-web/src/test/test.iml
.project
.externalToolBuilders
.settings
target
test-build
.myeclipse
.clover
.mymetadata
build
andromda*.exc
*.jar
*.log
velocity.log.*
.myumldata
.fatjar
.myhibernatedata
TempFatjarBuildDir_erase_me
release.properties
.deployment
.Rhistory
bin-groovy
null
EcclesMy.cnf
MargeMy.cnf
test.xml
aba_grin1.xml
aba_atlasImageMap79632316.xml
aba_ImageseriesId_1586.xml
aba_atlasImageMap534.xml
aba_ImageseriesId_79632316.xml
aba_atlasImageMap1586.xml
aba_Grin1.xml
aba_ImageseriesId_534.xml
*.springBeans
ubic.GEOMMTx.mappers.BirnLexMapper.mappings
terracotta
tc-config.xml
ontology.index.dir
cobertura
gemma-core/.settings/com.google.gwt.eclipse.core.prefs
gemma-core/cobertura.ser
gemma-core/logs
gemma-core/null
gemma-core/ontology.index.dir
gemma-core/ehcache.disk.store.dir
gemma-core/*.hprof
gemma-core/$HOME
gemma-core/src/main/native/.deps
gemma-core/src/main/native/.libs
gemma-core/src/main/native/.Rhistory
gemma-core/src/main/native/Blat.lo
gemma-core/src/main/native/libBlat.la
gemma-core/src/test/resources/data/loader/expression/geo/meta-analysis/.Rhistory
gemma-core/src/test/resources/data/loader/expression/geo/meta-analysis/.RData
gemma-core/src/test/resources/data/search/io/file/index
gemma-core/*.log
gemma-core/andromda*.exc
gemma-core/spring*.exc
gemma-core/hibernate*.exc
gemma-core/src/main/uml/*.uml
gemma-core/src/main/uml/*.bak

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
.idea/*
!.idea/codeStyles/
!.idea/runConfigurations/
*.iml

# Eclipse
.classpath

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml
!/gemma-core/src/main/

# a user-defined Gemma.properties file
/Gemma.properties
/gemma-data
/gemma-logs

node_modules/
bundles/