/* Based on a CSS Framework by Mike Stenhouse of Content with Style */
/* SITE SPECIFIC LAYOUT */
body {
    margin: 0;
    padding: 0;
    background: white top left repeat-x;
/ / text-align: left;
}

div#page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

/* HEADER */
div#headerclearnopadding {
    margin: 0 0 2em 0;
    padding: 0;
    text-align: left;
    height: 50px; /* needed by IE 7 */
    background-position: right;
}

div#switchLocale {
    position: absolute;
    right: 10px;
}

div#headerLeft {
    float: left;
}

div#headerRight {
    float: right;
    text-align: right;
}

div#search {
    float: right;
    margin: 0;
    padding: 2px 10px 10px 10px;
}

/* END HEADER */ /* CONTENT */
div#content {
    padding-left: 0;
    text-align: left;
}

body#error #content {
    margin-top: 40px;
}

/* MAIN */
div#main {
    padding-left: 0;
}

div.padded {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

div#main.home {
    margin: 10px;
    /* border-left: 1px dotted #CCCCCC; */
}

div#main form ul li {
    list-style-type: none;
    margin-left: 0;
}

/* END MAIN */ /* SUB */
div#sub h2 {
    margin-bottom: 5px;
}

div#sub ul {
    margin: 0;
}

div#sub ul li {
    list-style-type: none;
    margin-left: 0;
    padding-bottom: 10px;
}

/* END SUB */ /* END CONTENT */ /* FOOTER */
div#footer {
    color: #666666;
    width: 100%;
    margin: 0;
    padding-top: 30px;
    text-align: left;
    font-size: 0.9em;
    float: left;
}

div#footer .left {
    float: left;
    padding-left: 20px;
}

div#footer div#divider {
    margin: 0 0 4px 0;
    border-top: 1px solid #abc;
}

div#messages {
    margin: 10px;
    width: 600px;
}

div#progress-area {
    padding: 20px;
}

div.table-padding {
    padding: 20px;
    margin: 10px;
}

div.pleft-mbot {
    padding-left: 20px;
    margin-bottom: 10px;
}

/* END FOOTER */ /* END LAYOUT */ /* custom layout for data summary */
.datasummaryarea {
    float: right;
}

.datasummary {
    border-width: 1px;
    border-spacing: 2px;
    border-style: outset outset outset outset;
    border-color: #0000EE blue blue #0000EE;
    border-collapse: separate;
    background-color: white;
    float: right;
    font-size: 0.9em;
}

.datasummary th {
    padding: 0;
    border: 1px outset blue;
    background-color: white;
    -moz-border-radius: 0 0 0 0;
}

.datasummary td {
    font-size: 0.9em;
    margin: 0 0 0 0;
    padding: 1px;
}

.datasummary td {
    padding: 0;
    border: 1px none gray;
    background-color: white;
    -moz-border-radius: 0 0 0 0;
}

.v-padded {
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-nice-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
}

.table-nice-wrapper table td {
    padding: 2px 5px;
}

.odd-gray tr:nth-child(odd) {
    background-color: #eeeeee;
}

table.list {
    border-width: 1px 2px 1px 2px;
    border-spacing: 4px;
    border-style: outset outset outset outset;
    border-color: gray gray gray gray;
    border-collapse: separate;
    background-color: white;
}

table.detail {
    padding: 2px;
    width: 30%;
    border-collapse: separate;
    border-spacing: 4px;
}

table.pad-cols tr td {
    padding: 5px 5px;
}

table.info-boxes > tbody > tr > td:nth-child(2) {
    width: 40px;
    text-align: left;
}

table.row-separated {
    padding: 2px 0 2px 0;
    border-collapse: collapse;
    border-spacing: 0;
}

table.row-separated td {
    padding: 5px 0 5px 0;
    border-bottom: 1px solid #cccccc;
    vertical-align: middle;
}

table.row-separated tr.last-row td {
    border: 0;
}

table.row-separated .buttonBar {
    padding: 10px 0 0 0;
}

hr.normal {
    margin: 15px 0;
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #cccccc;
    height: 1px;
}

.nobreak {
    display: inline-block;
}

.curation-tool h4 {
    font-size: 120%;
}

.ee-tool-row {
    display: inline-block;
    width: 100%;
}

.ee-tool-left {
    display: block;
    width: 50% !important;
    float: left;
}

.ee-tool-right {
    display: block;
    width: 50% !important;
    float: left;
}

.btn-refresh {
    border-radius: 10px;
    background-color: whitesmoke !important;
}

.btn-refresh:hover {
    background-color: lightgray !important;
}

.btn-refresh * {
    font-weight: bold;
    background: transparent !important;
    cursor: pointer;
    font-size: 106% !important;
    color: royalblue !important;
}

.gq-head {
    font-size: 120%;
}

.gq-head .gq-row {
    line-height: 200%;
    font-weight: bold;
}

.gq-head .gq-extra .gq-btn {
    top: -10px;
}

.gq-body {
    filter: saturate(70%);
    margin: 0;
    background: whitesmoke !important;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.gq-btn {
    width: 100% !important;
    padding: 5px;
    background: whitesmoke;
}

.gq-btn:hover {
    filter: brightness(90%);
}

.gq-btn * {
    font-size: 106% !important;
    cursor: pointer;
    background: transparent !important;
}

.extjs-sucks {
    margin: 0;
    text-align: center !important;
}

.extjs-sucks * {
    text-align: center !important;
}

.gq-btn-details {
    text-align: left !important;
    margin: 0 !important;
    width: 100% !important;
    background: whitesmoke !important;
    /*Looks better when the manual score override UI is enabled*/
    /*border-left: 1px solid lightgray;*/
    /*border-bottom: 1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
}

.gq-btn-details:hover {
    background: lightgray !important;
    filter: none;
}

.gq-btn-details * {
    text-align: center !important;
    display: inline-block !important;
    background: whitesmoke !important;
}

.gq-btn-details:hover * {
    background: lightgray !important;
    filter: none;
}

.gq-btn-save {
    border: solid 1px darkgray;
    border-radius: 10px;
    margin: 10px 5px 5px;
    padding: 7px 5px 5px 5px;
    width: 50% !important;
    background: whitesmoke !important;
}

.gq-btn-save:hover {
    filter: brightness(110%);
}

.gq-btn-save * {
    font-size: 106% !important;
    cursor: pointer;
    background: whitesmoke !important;
}

.gq-btn-recalc-all {
    text-align: center !important;
    font-size: 90% !important;
    font-weight: 900 !important;
    display: inline-block !important;
    padding: 10px;
    margin: 20px 0 !important;
    width: 90% !important;
}

.gq-btn-recalc-all * {
    text-align: center !important;
    display: inline-block !important;
    cursor: pointer !important;
}

.gq-btn-recalc-all.x-item-disabled {
    color: darkgray !important;
    background-color: lightgray !important;
}

.gq-row {
    padding: 2px;
}

.gq-row.has-extra {
    margin-bottom: 0;
}

.gq-row .fa {
    margin-left: 5px;
}

.gq-label {
    display: inline-block;
    width: 180px;
    font-weight: 500;
    padding: 0 10px;
    text-align: right;
}

.gq-label:after {
    content: ':';
}

.gq-value.negative {
    margin-left: -5px;
}

.gq-errors span.icon {
    font-size: 300%;
    width: 10%;
}

.gq-errors span.msg {
    float: right;
    width: 90%;
}

.gq-errors pre {
    padding: 5px;
    background: lightgray;
    white-space: pre-wrap;
}

.gq-extra {
    box-shadow: inset 0 10px 10px -10px #585858;
    text-align: center;
    background: lightgray !important;
    margin: 0;
    padding: 0 5px 5px 5px;
}

.gq-extra * {
    background: transparent;
    display: inline-block;
}

.gq-extra label {
    padding-right: 20px;
}

.gq-extra .gq-btn {
    padding: 0;
    position: relative;
    top: -8px;
}

.gq-extra .gq-btn * {
    color: #747474;
}

.gq-subscore-refresh-btn {
    margin-right: 10px;
    padding: 5px;
}

.gq-override-value-slider {
    width: 200px;
    margin: 0;
    padding: 0;
}

.gq-override-value-slider .x-slider-end, .x-slider-start {
    background: none;
}

.gq-override-value-slider .x-slider-inner {
    height: 5px;
    background: gray none;
    border-radius: 10px;
}

.gq-override-value-slider .x-slider-thumb {
    background-image: none !important;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: -6px;
}

.gq-override-value-wrap {
    position: relative;
    top: 10px;
    overflow: visible;
    margin-right: 10px;
}

.gq-override-value {
    border: none;
    font-size: 105%;
    padding: 2px;
    text-align: center;
}

.gq-override-value[disabled] {
    filter: grayscale(100%);
}

.gq-notif, .gq-notif * {
    vertical-align: text-bottom !important;
    display: inline-block !important;
}

.gq-notif span {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
}

.gq-notif span:not([hidden]) {
    opacity: 1;
}

.gq-notif span[hidden] {
    opacity: 0;
    transition: opacity 1s linear;
}

.folded {
    height: 5px;
    overflow: hidden;
}

.x-form-item {
    padding-left: 5px;
    width: 100%;
    text-align: left;
    vertical-align: bottom;
}

.x-form-item:nth-child(odd) {
    /* border-bottom: solid 1px #eeeeee; */
    background: #f4f4f4;
}

.x-form-item:nth-child(odd) *:not(textarea):not(.ee-status-badge):not(.fa):not(.security-link) {
    background: #f4f4f4;
}

i[class*=qtp] {
    font-size: medium;
    color: #8793b9;
}

i[class*=icon] {
    font-size: large;
}

.pre-wrap {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    width: 600px;

    height: auto;
    min-height: 50px;
    max-height: 150px;

    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}

/* introduced for curation tab */
.chb-correction {
    position: relative;
    top: 3px;
}

.curationNote-label {
    display: block;
}

.width110 {
    display: inline-block;
    width: 110px;
}

.width130 {
    display: inline-block;
    width: 130px;
}

.width150 {
    display: inline-block;
    width: 150px;
}

.width170 {
    display: inline-block;
    width: 170px;
}

.width190 {
    display: inline-block;
    width: 190px;
}

.fa-custom-ext:before {
    content: "\f071";
    font-family: FontAwesome, monospace;
    font-style: normal;
}

.fa-custom-exc:before {
    content: "\f06a";
    font-family: FontAwesome, monospace;
    font-style: normal;
}

/* Text colors */

.green {
    color: #3A3;
}

.gold {
    color: gold;
}

.dark-yellow {
    color: #c39800;
}

.orange {
    color: #ff8700;
}

.red {
    color: #DD2222;
}

.gray-red {
    color: #8e5a57;
}

.dark-gray {
    color: darkgray;
}

.gray-blue {
    color: #3b5a82;
}

/* Background colors */

.bg-green {
    background-color: #3A3;
}

.bg-gold {
    background-color: gold;
}

.bg-dark-yellow {
    background-color: #c39800;
}

.bg-orange {
    background-color: #ff8700;
}

.bg-red {
    background-color: #DD2222;
}

.bg-gray-red {
    background-color: #8e5a57;
}

.bg-dark-gray {
    background-color: darkgray;
}

.bg-gray-blue {
    background-color: #3b5a82;
}

/* Other */

.bold {
    font-weight: bold;
}

.ee-status-badge {
    top: 5px;
    color: #f4f4f4;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 5px;
    padding: 5px;
    height: 20px;
}

.ee-status-badge.outline {
    border: 1px solid #3b5a82;
}

.status-bcls {
    vertical-align: middle;
    padding-top: 10px;
    height: 25px;
}

.ed-batch-info {
    padding: 15px;
    font-size: smaller;
}