/* Based on a CSS Framework by Mike Stenhouse of Content with Style */

/* SITE SPECIFIC LAYOUT */
    body {
        margin: 0;
        padding: 0;
        background: white top left repeat-x;
        text-align: center;
    }
    div#page {
        width: 1080px;
        margin:  0 auto;
        padding: 0;
        text-align: center;
    }
    
    /* HEADER */
        div#header {
            margin: 0 0 2em 0;
            padding: 10px 0px 2px 20px;
            text-align: left;
        }

            div#switchLocale {
                position: absolute;
                right: 10px;
            }
        
        div#branding {
            background: white url(images/line.gif);
            float: left;
            width: 95%;
            margin: 0;
            padding:  0px 0 0px 0px;
            text-align: left;
        }
        
        div#headerLeft {
		      float: left;         
        }
        
        div#headerRight {
            float: right;
        }
        
        div#search {
            float: right;
            width: 300px;
            margin: 0;
            padding: 5px 100px 3px 3px;
            text-align: right;
        }
    /* END HEADER */
    
    
    /* CONTENT */
        div#content {
        }
            body#error #content {
                margin-top: 40px;
            }
        /* MAIN */
            div#main {
                padding-left: 15px;
            }
            
            div#main.home  {
             border-left: 1px dotted #CCCCCC;
            }

                div#main form ul li {
                    list-style-type: none;
                    margin-left: 0;
                }
        /* END MAIN */
        
        /* SUB */
          
        
            div#sub h2 {
                margin-bottom: 5px;
            }

            div#sub ul {
                margin: 0;
            }

            div#sub ul li {
                list-style-type: none;
                margin-left: 0px;
                padding-bottom: 10px;
            }

                div#sub p.line {
                    border-top: 1px dotted #ccc;
                    margin: 2px 0;
                }
            
        /* END SUB */
        
    /* END CONTENT */
    
    /* FOOTER */
        div#footer {
            color: #666666;
            width: 95%;
            margin: 10px 0px 0px;
            padding: 20px 0px 0px 30px;
            text-align: left;
            font-size: 0.9em;
        }

            div#footer div#divider {
                    margin: 0 0 4px 0;
                    border-top: 1px solid #abc;
            }

            div#footer .left {
                    float: left;
            }

            div#footer .right {
                    float: right;
            }
            
            div#footer a:hover {
              color: #003366;
              text-decoration:none;
            }
    /* END FOOTER */
/* END LAYOUT */
