/* A CSS Framework by Mike Stenhouse of Content with Style 
 http://www.contentwithstyle.co.uk/Articles/17/a-css-framework/
*/
@import url(nav-horizontal.css);

/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
div#content {
	position: relative;
	width: 97%;
	margin: 0 auto 10px auto;
	padding: 0;
	text-align: left;
}

div#main {
	float: left;
	width: 100%;
	display: inline;
}

div#main.home {
	float: right;
	width: 70%;
	display: inline;
}

div#sub {
	float: right;
	width: 0px;
	display: inline;
}


div#sub.home {
	float: left;
	width: 25%;
	display: inline;
}

div#sub ul#local li a {	
	margin-left: 40px;
}

div#sub ul#local>li a {
	margin-left: -5px !important;
}

div#nav {
	position: absolute;
	top: -25px;
	left: 0px;
	width: 100%;
	text-align: left;
}
/* END CONTENT */