/* spacing */

/* https://vuetifyjs.com/en/styles/spacing/#spacing */

/* paddings */

.px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

/* margins */

.mt-10 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-10 {
    margin-bottom: 40px;
}

.mr-1 {
    margin-right: 4px;
}

.g-3 {
    gap: 12px;
}

/* gaps */

.g-5 {
    gap: 20px;
}
