/*
 * This stylesheet is in process of rewrite to match Vuetify's typography
 */

/* A CSS Framework by Mike Stenhouse of Content with Style */

/* TYPOGRAPHY */
body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size-adjust: none;
	line-height: normal;
	color: rgba(0, 0, 0, 0.87);
	text-decoration: none;
}

.footer {
	font-size: x-small;
}

img {
	border: 0;
}

/* LINKS */
a, a:link a:active {
	color: #1976d2;
	text-decoration: none;
}

a:visited {
	color: #1976d2;
	background-color: transparent;
}

.ui-state-hover {
	background: lightyellow;
}

.ui-state-active {
	background: blue
}

a.annotationLink {
	text-decoration: underline;
}

a.newpage {
	background: transparent url(../../images/icons/newwindow.png) no-repeat scroll right center;
	padding-right: 15px;
}

a.external {
	background: transparent url(../../images/icons/link_external_icon.gif) no-repeat scroll right center;
	padding-left: 15px;
	padding-right: 10px;
}

a.external:hover {
	background: transparent url(../../images/icons/link_external_icon_hover.gif) no-repeat scroll right center;
	padding-left: 15px;
	margin-right: 10px;
}

a.internal {
	background: transparent url(../../images/icons/link_internal_icon.gif) no-repeat scroll right center;
	padding-left: 15px;
	margin-right: 10px;
}

a.internal:hover {
	background: transparent url(../../images/icons/link_internal_icon_hover.gif) no-repeat scroll right center;
	padding-left: 15px;
	margin-right: 10px;
}

span.link {
	cursor: pointer;
	color: #1976d2;
}

/* END LINKS */ /* HEADINGS */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 6em;
}

h2 {
	font-size: 3.75em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2.125em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.25em;
}

/* rescale headers within the main content */
/* h1 -> h4, h2 -> h5, etc. */
#main h1 {
	font-size: 1.5em;
}

#main h2 {
	font-size: 1.25em;
}

#main h3 {
	font-size: 1.0em;
}

#main h4 {
	font-size: 0.75em;
}

#main h5 {
	font-size: 0.5em;
}

#main h6 {
	font-size: 0.25em;
}

/* END HEADINGS */ /* TEXT */
p {
	margin-bottom: 1em;
}

.bigger {
	font-size: 1.5em;
}

.big {
	font-size: 1.25em;
}

.normal {
	font-size: 1em;
}

.small {
	font-size: 0.875em;
}

.smaller {
	font-size: 0.75em;
}

blockquote {
	border-left: 10px solid #ddd;
	margin-left: 10px;
}

pre {
	font-family: monospace, monospace;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

code {
	font-family: monospace, monospace;
	white-space: pre;
}

textarea {
	font-family: Avenir, Helvetica, Arial, sans-serif;
}

.clob, .stacktrace {
	border-style: solid;
	padding: 4px 6px 4px 6px;
	border-width: 1px;
	border-color: #DDDDDD;
	line-height: 1.3em;
	height: 100px;
	overflow: auto;
}

.stacktrace {
	font-family: monospace, monospace;
	height: 400px;
}

/* END TEXT */ /* LISTS */
ul.glassList {
	list-style: url(../../images/aquadot.jpg) disc inside;
	vertical-align: top;
	line-height: 1.5em;
}

p.emphasized {
	padding: 0;
}

ul.plainList {
	margin-left: 40px;
	margin-bottom: 15px;
	list-style: disc;
	line-height: 1.7em;
}

ul.compactList {
	margin-left: 4px;
	margin-bottom: 15px;
	list-style: square;
	line-height: 1.3em;
}

ol.plainList {
	margin-left: 40px;
	list-style: decimal;
}

dl {
	margin: 0 0 1.5em 0;
	padding: 0;
	line-height: 1.4em;
}

dl dt {
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

dl dd {
	margin: 0 0 0 30px;
	padding: 0;
}

/* END LISTS */ /* TABLE */

/* this can interfere with EXT.js tables. */
table {
	/*border-style:solid;
			   border-width:1px;
			   border-color:#BBBBBB;
			   margin: 0 0 0 0;
			   padding: 6px;*/

}

td {
	font-weight: normal;
	vertical-align: baseline;
}

td.label {
	font-weight: bold;
	text-align: right;
	padding-right: 8px;
	padding-top: 4px;
}

th {
	border-bottom: solid #555555 1px;
	font-weight: bold;
}

hr {
	display: none;
}

div.hr {
	height: 1px;
	margin: 1.5em 10px;
	border-bottom: 1px dotted black;
}

/* Help pages */
h2.helpstep, h3.helpstep {
	left-margin: 0px;
	padding: 0px;
	line-height: 1em;
	font-size: 1.3em;
	margin: 0 0 2px 0px;
}

.blue-text-not-link {
	color: #2196F3;
}

.front-page-header-text {
	color: #3F51B5;
}

/* css for scriptaculous hovering */
.drophover {
	background-color: #FFEB3B;
}

.dragItem {
	cursor: move;
}

/* styles for pure CSS tooltips */
a.info {
	position: relative;
	z-index: 24;
	color: #000;
	text-decoration: none;
}

/* colours for positive and negative link counts*/
.positiveLink {
	color: #4CAF50;
}

.negativeLink {
	color: #F44336;
}

/* colours for validation/trouble */
.trouble {
	color: #F44336;
}

.validated {
	color: #4CAF50;
}

.disabled {
	background-color: lightgrey;
	color: grey;
}

.disabled-plain {
	color: black;
}

/* colours for characteristics */
.usedWithUri {
	color: #4CAF50;
	font-weight: bold;
}

.usedNoUri {
	/*	font-weight: bold; */

}

.unusedWithUri {
	color: darkgreen;
}

.unusedNoUri {

}

/* sources of annotations */
.fromBioMaterial {
	background-color: #d1e4fd;
	padding: 3px;
	line-height: 1.5em;
	border-radius: 15px;
}

.fromFactorValue {
	background-color: #F0DE7D;
	padding: 3px;
	line-height: 1.5em;
	border-radius: 15px;
}

.fromExperimentTag {
	font-weight: bold;
	background-color: #B0DE78;
	padding: 3px;
	line-height: 1.5em;
	border-radius: 15px;
}

.fromOther {
	font-weight: bold;
	background-color: #ff98008c;
	padding: 3px;
	line-height: 1.5em;
	border-radius: 15px;
}

.ann-wrap:not(:first-child) {
	margin-left: 4px;
}

.ann-group:not(:first-child) {
	margin-left: 4px;
}

.ann-wrap.hidden {
	display: none;
}

.ann-group {
	cursor: pointer;
	border: 1px solid #cfd6e6;
	padding: 2px 6px;
	border-radius: 10px;
	background: #f4f7fb;
	color: #204060;
}


.ann-group.expanded {
	background: #e8f4ff;
	border-color: #7aaad6;
}


a.info:hover {
	z-index: 25;
	background-color: #FFEB3B;
}

a.info span {
	display: none
}

a.info:hover span { /*the span will display just on :hover state*/
	display: block;
	position: absolute;
	top: 2em;
	left: 2em;
	width: 45em;
	border: 1px solid #0cf;
	background-color: #cff;
	color: #000;
	text-align: center;
}

/* tooltips, modified from http://psacake.com/web/jl.asp
 */
a.tooltip {
	position: relative;
	z-index: 20001;
}

a.tooltip:hover {
	z-index: 20002;
}

a.tooltip .tooltiptext {
	display: none;
}

a.tooltip:hover .tooltiptext {
	display: block;
	position: absolute;
	top: 1em;
	left: 1em;
	border: 1px solid darkgoldenrod;
	padding: 2px;
	color: black;
	background-color: lightgoldenrodyellow;
}

.wrap {
	white-space: normal;
}

.coexpressionGridRowExpanded {
	background-color: #EEEEEE;
}

/*
* To indicate that a value met a user-set threshold.
*/
.metThreshold {
	font-weight: bold;
	color: #4CAF50;
}

/*
* for display of search results, see search.js
*/
.search-result-body { /*font-style: italic; */

}

.news {
	padding-top: 8px;
}

.news ul {
	margin-left: 12px;
	list-style: disc
}

.news p {

}

.upload-icon {
	background: url('../../images/icons/add.png') no-repeat 0 0 !important;
}

/* hover thumbnails */
/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
.thumbnail {
	position: relative;
	z-index: 0;
}

.thumbnail:hover {
	background-color: transparent;
	z-index: 50;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: lightyellow;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 0;
	left: 60px;
	/*position where enlarged image should offset horizontally */
}

.absolute-position-loading-mask {
	top: 70px !important
}

.inline-help-form-q-tip {
	line-height: 1.1em;
}

.indent20, .indent20 p, .indent20 ul {
	padding-left: 20px
}

.buttonBold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-nowrap {
	white-space: nowrap;
}