/* A CSS Framework by Mike Stenhouse of Content with Style

     Color palette:
     		 #00718f - new dark blue (hue 193)
     		 #338da5 - medium tint of 193.
     		 #9cc8d4 - tint of dark blue 193.
     		 #004f64 - shade of 193.
     		 #f9f7db - logo background
     		 ## Logo colors used in spots
     		 #c84c27 - new dark orange
     		 #b53825 - new brick red
     		 #fddb5c - new bright yellow
     		 #fcb536 - new light orange
     		 #f47f20 - new medium orange
     		 
     		 Older items
             #444        - dark gray (text)
             #3e9ade - medium blue (title)
             #b4c24b - lime (header 1)
             #ebf5fc - light cyan (hover text, footer)
             #d7e9f5    - medium cyan (tab)
             #1465b7 - dark blue (tab text, hyperlink)
             #ccc         - medium gray (line)
             #f7f7f7 - light gray (form background)
             #f90        - orange (required *)
             
             #003366 - blue
             #CC6633 - orange
*/ /* TYPOGRAPHY */
body {
	text-align: left;
	font: normal 0.9em arial, sans-serif;
	color: #000000;
	text-decoration: none;
}

.footer {
	font-size: smaller;
}

img {
	border: 0;
}

/* LINKS */
a,a:link a:active {
	color: #004f64;
	text-decoration: none;
}

a:visited {
	color: #004f64;
	background-color: transparent;
}

a:hover {
	color: #f47f20;
	text-decoration: none;
}

a.annotationLink {
	text-decoration: underline;
}

a.newpage {
	background: transparent url(../../images/icons/newwindow.png) no-repeat
		scroll right center;
	padding-right: 15px;
}

a.external {
	background: transparent url(../../images/icons/externallink.png)
		no-repeat scroll right center;
	padding-right: 15px;
}

span.link {
	cursor: pointer;
	text-decoration: underline;
	color: #004f64;
}

/* END LINKS */ /* HEADINGS */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

h1, .big {
	font-size: 2.2em;
	letter-spacing: -1px;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 0;
}

div#branding h1 {
	font-size: 2.6em;
	letter-spacing: -1px;
	margin: 0;
	line-height: 1.5em;
	color: #3e9ade;
}

div#branding p {
	margin: 0;
	line-height: 1em;
}

h2, .medium {
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 0 0 0.5em 0;
	padding: 0;
}

h3 {
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 0 0.5em 0;
	padding: 10px 0px 0px 0;
	color: black;
}

h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

h5 {
	font-size: 1.1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

h6 {
	font-size: 1em;
	line-height: 1.3em;
	margin: 0 0 0.25em 0;
	padding: 0;
	color: black;
}

/* END HEADINGS */ /* TEXT */
p {
	font-size: 1em;
	margin: 0 0 0.8em 0;
	padding: 0px 0px 0px 0px;
	line-height: 1.4em;
}

blockquote {
	border-left: 10px solid #ddd;
	margin-left: 10px;
}

pre {
	font-family: monospace;
	font-size: 1em;
}

strong,b {
	font-weight: bold;
}

em,i {
	font-style: italic;
}

code {
	font-family: "courier new", courier, monospace;
	font-size: 12px;
	white-space: pre;
}

textarea {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
}

.clob,.stacktrace {
	border-style: solid;
	padding: 4px 6px 4px 6px;
	border-width: 1px;
	border-color: #DDDDDD;
	font-size: 1em;
	line-height: 1.3em;
	height: 100px;
	overflow: auto;
}

.stacktrace {
	font-size: 10px;
	font-family: "courier new", courier, monospace;
	height: 400px;
}

/* END TEXT */ /* LISTS */
ul.glassList {
	list-style: url(../../images/aquadot.jpg) disc outside;
	vertical-align: top;
	line-height: 1.5em;
}

p.emphasized {
	padding: 0;
}

p a {
	text-decoration: underline;
}

ul.plainList {
	margin-left: 40px;
	margin-bottom: 15px;
	list-style: disc;
	line-height: 1.7em;
}

ul.compactList {
	margin-left: 4px;
	margin-bottom: 15px;
	list-style: square;
	line-height: 1.3em;
}

ol.plainList {
	margin-left: 40px;
	list-style: decimal;
}

dl {
	margin: 0 0 1.5em 0;
	padding: 0;
	line-height: 1.4em;
}

dl dt {
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
	padding: 0;
}

dl dd {
	margin: 0 0 0 30px;
	padding: 0;
}

/* END LISTS */ /* TABLE */
td {
	font: normal 11px arial, tahoma, helvetica, sans-serif;
}

/* this can interfere with EXT.js tables. */
table { /*border-style:solid;
			border-width:1px;
			border-color:#BBBBBB; 
            margin: 0 0 0 0;
            padding: 6px;*/
	
}

td.label {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding-right: 8px;
	padding-top: 4px;
}

th {
	border-bottom: solid #555555 1px;
	font: bold 11px arial, tahoma, helvetica, sans-serif;
}

hr {
	display: none;
}

div.hr {
	height: 1px;
	margin: 1.5em 10px;
	border-bottom: 1px dotted black;
}

.error {
	background: #fff url(../../images/default/grid/invalid_line.gif)
		repeat-x bottom;
}

/* Help pages */
h2.helpstep,h3.helpstep {
	left-margin: 0px;
	padding: 0px;
	line-height: 1em;
	font-size: 1.3em;
	margin: 0 0 2 0px;
}

.x-form-field-wrap  .x-go-trigger {
	background-image: url(../../images/icons/search-trigger.gif);
	cursor: pointer;
}

.x-loading {
	background: url(../../images/default/tree/loading.gif) no-repeat center;
}

/* used by CollapsedPanelTitlePlugin.js, style based on ext-all.css x-panel-header */
.x-panel-collapsed-text {
	color: #15428B;
	font: bold 11px tahoma, arial, verdana, sans-serif;
	padding: 5px 3px 4px 5px;
	float: right;
	line-height: 13px;
}

/* reduced font size elements */
.small {
	font-size: smaller;
}

/* css for scriptaculous hovering */
.drophover {
	background-color: #ff0;
}

.dragItem {
	cursor: move;
}

/* styles for pure CSS tooltips */
a.info {
	position: relative;
	z-index: 24;
	color: #000;
	text-decoration: none;
}

/* colours for positive and negative link counts*/
.positiveLink {
	color: darkgreen;
}

.negativeLink {
	color: red;
}

/* colours for validation/trouble */
.trouble {
	color: red;
}

.validated {
	color: darkgreen;
}

/* colours for characteristics */
.usedWithUri {
	color: darkgreen;
	font-weight: bold;
}

.usedNoUri {
	font-weight: bold;
}

.unusedWithUri {
	color: darkgreen;
}

.unusedNoUri {
	
}

a.info:hover {
	z-index: 25;
	background-color: #ff0;
}

a.info span {
	display: none
}

a.info:hover span { /*the span will display just on :hover state*/
	display: block;
	position: absolute;
	top: 2em;
	left: 2em;
	width: 45em;
	border: 1px solid #0cf;
	background-color: #cff;
	color: #000;
	text-align: center;
}

/* make sure link text is white when selected in Ext tables
 */
.x-grid-row-selected a {
	color: white !important;
}

/* tooltips, modified from http://psacake.com/web/jl.asp
 */
a.tooltip {
	position: relative;
	z-index: 20001;
}

a.tooltip:hover {
	z-index: 20002;
}

a.tooltip .tooltiptext {
	display: none;
}

a.tooltip:hover .tooltiptext {
	display: block;
	position: absolute;
	top: 1em;
	left: 1em;
	border: 1px solid darkgoldenrod;
	padding: 2px;
	color: black;
	background-color: lightgoldenrodyellow;
}

.wrap {
	white-space: normal;
}

.coexpressionGridRowExpanded {
	background-color: #EEEEEE;
}

/*
* To indicate that a value met a user-set threshold.
*/
.metThreshold {
	font-weight: bold;
	color: #339900;
}

/*
* for display of search results, see search.js
*/
.search-result-body { /*font-style: italic; */
	
}

.details .x-btn-text {
	background-image: url(../../images/icons/details.gif);
}

.disabled-plain {
	color: black;
}

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
	position: relative;
	height: 22px;
}

.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter: alpha(opacity :                   0);
	opacity: 0;
	z-index: 2;
	height: 22px;
}

.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}

.x-form-file-wrap .x-form-file-text {
	position: absolute;
	left: 0;
	z-index: 3;
	color: #777;
}

/*
* On ext fields set fieldClass to this to remove border/shading.
*/
.x-bare-field {
	padding: 1px 3px;
	-x-system-font: none;
	background: transparent;
	border: 0px;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	font-family: tahoma, arial, helvetica, sans-serif;
}

/** Use as 'baseCls' for panels to remove outline. */
.x-plain-panel {
	border: 0px;
}

/** Used by Ext in table layouts, but not defined in ext-all.css */
.x-table-layout-cell {
	padding: 5px;
	margin: 3px;
	vertical-align: top;
}

/**
*  Override ext default
*/
.x-progress-text {
	font-size: 11px;
	font-weight: normal;
	color: #000;
	padding: 1px 5px;
	overflow: hidden;
	position: absolute;
	left: 0;
	text-align: center;
}

/**
* Replacement for StatusBar lost in Ext 3
*/
.x-statusbar .x-status-text {
	height: 21px;
	line-height: 21px;
	padding: 0 4px;
	cursor: default;
}

.x-statusbar .x-status-busy {
	padding-left: 25px;
	background: transparent url(../../images/default/grid/loading.gif)
		no-repeat 3px 3px;
}

.x-statusbar .x-status-text-panel {
	border-top: 1px solid #99BBE8;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 1px solid #99BBE8;
	padding: 2px 8px 2px 5px;
}

.news {
	padding-top: 8px;
}

.news ul {
	margin-left: 12px;
	list-style: disc
}

.news p {
	
}

.upload-icon {
	background: url('../../images/icons/add.png') no-repeat 0 0 !important;
}
.transparent-btn .x-btn-tl, .transparent-btn .x-btn-tr, .transparent-btn .x-btn-tc, .transparent-btn .x-btn-ml, .transparent-btn .x-btn-mr, .transparent-btn .x-btn-mc, .transparent-btn .x-btn-bl, .transparent-btn .x-btn-br, .transparent-btn .x-btn-bc {
    background-image:url(../../images/s.gif);

}
.right-align-btn .x-btn-mc{
 	text-align: right;
 }
 
 .unstyledTitle .x-panel-header{
 	background: none repeat-x scroll 0 -1px transparent;
	color:black;
	border: 0px solid;
 }
 
 .unstyledTitle .x-tool-toggle{
	background-position: 0 -255px;
 }
   
 .unstyledTitle .x-tool-toggle-over{
	background-position: -15px -255px;
 }
 .x-panel, .unstyledTitle, .x-panel-collapsed .x-tool-toggle{
	background-position: 0 -240px;
 }
  
 .x-panel, .unstyledTitle, .x-panel-collapsed .x-tool-toggle-over{
	background-position: -15px -240px;
 }

#fi-button-msg {
	border: 2px solid #ccc;
	padding: 5px 10px;
	background: #eee;
	float: left;
}

.purple-btn .x-btn-tl, .purple-btn .x-btn-tr, .purple-btn .x-btn-tc, .purple-btn .x-btn-ml, .purple-btn .x-btn-mr, .purple-btn .x-btn-mc, .purple-btn .x-btn-bl, .purple-btn .x-btn-br, .purple-btn .x-btn-bc {
    background-image:url('../../images/default/button/btn-purple.png');
}

.x-tool-delete {
    background-image:url('/Gemma/images/icons/cross.png');
	margin-left:10px;
	
}

.x-tool-delete-over {
    background-image:url('/Gemma/images/icons/cross.png');
	margin-left:10px;
}
