<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<description>
		This web application context contains Spring-WS beans. The beans defined in this context are automatically
		detected by Spring-WS, similar to the way Controllers are picked up in Spring Web MVC.
	</description>

	<bean id="payloadMapping" class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<description>
			This endpoint mapping uses the qualified name of the payload (body contents) to determine the endpoint for
			an incoming message. Every message is passed to the default endpoint. Additionally, messages are logged
			using the logging interceptor.
		</description>
		<property name="mappings">
			<props>
				<prop key="{http://chibi.ubc.ca/Gemma/ws}experimentName">experimentNameEndpoint</prop>
				<prop key="{http://chibi.ubc.ca/Gemma/ws}experimentId">experimentIdEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneName">geneNameEndpoint</prop>
				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneId">geneIdEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}arrayDesignUsed">arrayDesignUsedEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}experimentNumSamples">experimentNumSamplesEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}experimentDEDV">experimentDEDVEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}gene2Go">gene2GoTermEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}experimentIDbyTaxon">experimentIDbyTaxonEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneIDbyTaxon">geneIDbyTaxonEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}goTerm2Gene">goTerm2GeneEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}physicalLocation">physicalLocationEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}arrayDesignIdentifierByName">arrayDesignIdentifierByNameEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}dEDVfromEEIDGeneID">dEDVfromEEIDGeneIDEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneOverlap">geneOverlapEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneCoexpression">geneCoexpressionEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}experimentAnnotation">experimentAnnotationEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}probe2Gene">probe2GeneEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}gene2Probe">gene2ProbeEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}expressionExperimentSetIDs">expressionExperimentSetIDsEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}dEDVRank">dEDVRankEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneByNCBIId">geneByNCBIIdEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneDetailsByGeneID">geneDetailsByGeneIDEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}differentialExpressionProbeResult">differentialExpressionProbeResultEndpoint</prop>

				<prop key="{http://chibi.ubc.ca/Gemma/ws}gene2GOdescription">gene2GOdescriptionEndpoint</prop>
				
				<prop key="{http://chibi.ubc.ca/Gemma/ws}genesAtPhysicalLocation">genesAtPhysicalLocationEndpoint</prop>
				
				<prop key="{http://chibi.ubc.ca/Gemma/ws}geneCoexpressionSearch">geneCoexpressionSearchEndpoint</prop>

			</props>
		</property>

		<property name="interceptors">
			<list>
				<ref local="loggingInterceptor" />
			</list>
		</property>
	</bean>

	<bean id="gemma" class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<constructor-arg value="/WEB-INF/gemma-custom.wsdl" />
	</bean>

	<!--
		<bean id="gemma" class="org.springframework.ws.wsdl.wsdl11.DynamicWsdl11Definition"> <property name="builder"> <bean
		class="org.springframework.ws.wsdl.wsdl11.builder.XsdBasedSoap11Wsdl4jDefinitionBuilder"> <property name="schema"
		value="/WEB-INF/gemmaServices.xsd"/> <property name="portTypeName" value="gemma"/> <property name="locationUri"
		value="http://localhost:8080/Gemma/ws"/> </bean> </property> </bean>
	-->
	<bean id="validatingInterceptor" class="org.springframework.ws.soap.server.endpoint.interceptor.PayloadValidatingInterceptor">
		<description>
			This interceptor validates both incoming and outgoing message contents according to the 'experiment.xsd' XML
			Schema file.
		</description>
		<property name="schema" value="/WEB-INF/gemmaServices.xsd" />
		<property name="validateRequest" value="true" />
		<property name="validateResponse" value="true" />
	</bean>

	<bean id="loggingInterceptor" class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor">
		<description>
			This interceptor logs the message payload.
		</description>
	</bean>

	<bean id="experimentNameEndpoint" class="ubic.gemma.web.services.ExperimentNameEndpoint">
		<description>
			This endpoint given an expression experiment id returns the name of the expression experiment
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="experimentIdEndpoint" class="ubic.gemma.web.services.ExperimentIdEndpoint">
		<description>
			This endpoint given the short name returns the id of an expression experiment
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="geneNameEndpoint" class="ubic.gemma.web.services.GeneNameEndpoint">
		<description>
			This endpoint given an gene id returns the name of the gene
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="geneIdEndpoint" class="ubic.gemma.web.services.GeneIdEndpoint">
		<description>
			This endpoint given the short name returns the id of all the genes that match
		</description>
		<property name="geneService" ref="geneService" />
		<property name="taxonService" ref="taxonService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>


	<bean id="arrayDesignUsedEndpoint" class="ubic.gemma.web.services.ArrayDesignUsedEndpoint">
		<description>
			Given a valid EE id will return the names of all array designs used in that expressionExperiment
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="experimentNumSamplesEndpoint" class="ubic.gemma.web.services.ExperimentNumSamplesEndpoint">
		<description>
			This endpoint given the short name returns the id of all the genes that match
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />

	</bean>

	<bean id="experimentDEDVEndpoint" class="ubic.gemma.web.services.ExperimentDEDVEndpoint">
		<description>
			returns a matrix of design element data vectors for the given Expression experiment
		</description>
		<property name="compositeSequenceService" ref="compositeSequenceService" />
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="expressionDataMatrixService" ref="expressionDataMatrixService" />
	</bean>

	<bean id="gene2GoTermEndpoint" class="ubic.gemma.web.services.Gene2GoTermEndpoint">
		<description>
			returns a list of go ids
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="geneOntologyService" ref="geneOntologyService" />
	</bean>

	<bean id="geneOverlapEndpoint" class="ubic.gemma.web.services.GeneOverlapEndpoint">
		<description>
			returns a map of gene to overlapping GO terms
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="geneOntologyService" ref="geneOntologyService" />
	</bean>

	<bean id="goTerm2GeneEndpoint" class="ubic.gemma.web.services.GoTerm2GeneEndpoint">
		<description>
			returns a list of gene ids
		</description>
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="geneOntologyService" ref="geneOntologyService" />
		<property name="taxonService" ref="taxonService" />
	</bean>

	<bean id="experimentIDbyTaxonEndpoint" class="ubic.gemma.web.services.ExperimentIDbyTaxonEndpoint">
		<description>
			returns a list of Expression Experiment ids
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="taxonService" ref="taxonService" />
	</bean>

	<bean id="geneIDbyTaxonEndpoint" class="ubic.gemma.web.services.GeneIDbyTaxonEndpoint">
		<description>
			returns a list of Gene ids
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="taxonService" ref="taxonService" />
	</bean>

	<bean id="physicalLocationEndpoint" class="ubic.gemma.web.services.PhysicalLocationEndpoint">
		<description>
			returns the physical location (chromosome id, lower bound nt, upper bound nt) of the gene
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="arrayDesignIdentifierByNameEndpoint" class="ubic.gemma.web.services.ArrayDesignIdentifierByNameEndpoint">
		<description>
			returns the Array Design ID given text
		</description>
		<property name="arrayDesignService" ref="arrayDesignService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="dEDVfromEEIDGeneIDEndpoint" class="ubic.gemma.web.services.DEDVfromEEIDGeneIDEndpoint">
		<description>

		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="geneService" ref="geneService" />
		<property name="processedExpressionDataVectorService" ref="processedExpressionDataVectorService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="geneCoexpressionEndpoint" class="ubic.gemma.web.services.GeneCoexpressionEndpoint">
		<description>
			returns gene coexpression (using the'canned' analyses; default would be the 'all' analysis for the taxon)
		</description>
		<property name="taxonService" ref="taxonService" />
		<property name="geneService" ref="geneService" />
		<property name="geneCoexpressionService" ref="geneCoexpressionService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="geneCoexpressionSearchEndpoint" class="ubic.gemma.web.services.GeneCoexpressionSearchEndpoint">
		<description>
			returns gene coexpression 
		</description>
		<property name="taxonService" ref="taxonService" />
		<property name="geneService" ref="geneService" />
		<property name="geneCoexpressionService" ref="geneCoexpressionService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="expressionExperimentSetService" ref="expressionExperimentSetService" />		
	</bean>

	<bean id="experimentAnnotationEndpoint" class="ubic.gemma.web.services.ExperimentAnnotationEndpoint">
		<description>
			returns mapping of experiment to its characteristics
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="gene2ProbeEndpoint" class="ubic.gemma.web.services.Gene2ProbeEndpoint">
		<description>
			returns mapping of gene to probes
		</description>
		<property name="compositeSequenceService" ref="compositeSequenceService" />
		<property name="taxonService" ref="taxonService" />
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="probe2GeneEndpoint" class="ubic.gemma.web.services.Probe2GeneEndpoint">
		<description>
			returns mapping of probes to genes
		</description>
		<property name="compositeSequenceService" ref="compositeSequenceService" />
		<property name="arrayDesignService" ref="arrayDesignService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="expressionExperimentSetIDsEndpoint" class="ubic.gemma.web.services.ExpressionExperimentSetIDsEndpoint">
		<description>
			returns all the expression experiment set ids in the database along with its name and containing experiment ids
		</description>
		<property name="expressionExperimentSetService" ref="expressionExperimentSetService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="dEDVRankEndpoint" class="ubic.gemma.web.services.DEDVRankEndpoint">
		<description>
			returns list of genes mapped to a list of space delimited ranks
		</description>
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="expressionDataMatrixService" ref="expressionDataMatrixService" />
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="geneByNCBIIdEndpoint" class="ubic.gemma.web.services.GeneByNCBIIdEndpoint">
		<description>
			returns all the gene ids that map to NCBI ids in Gemma
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>

	<bean id="geneDetailsByGeneIDEndpoint" class="ubic.gemma.web.services.GeneDetailsByGeneIDEndpoint">
		<description>
			returns details about genes that map to the gene ids in Gemma; includes NCBI id and gene name.
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>
	<bean id="differentialExpressionProbeResultEndpoint" class="ubic.gemma.web.services.DifferentialExpressionProbeResultEndpoint">
		<description>
			returns differential analysis results given a collection gene ids and an expression experiment set id and threshold
		</description>
		<property name="geneService" ref="geneService" />
		<property name="expressionExperimentService" ref="expressionExperimentService" />
		<property name="taxonService" ref="taxonService" />
		<property name="differentialExpressionResultService" ref="differentialExpressionResultService" />
		<property name="expressionExperimentSetService" ref="expressionExperimentSetService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>
	<bean id="gene2GOdescriptionEndpoint" class="ubic.gemma.web.services.Gene2GOdescriptionEndpoint">
		<description>
			returns a list of go ids and go description for a given gene
		</description>
		<property name="geneService" ref="geneService" />
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
		<property name="geneOntologyService" ref="geneOntologyService" />
	</bean>
	
	<bean id="genesAtPhysicalLocationEndpoint" class="ubic.gemma.web.services.GenesAtPhysicalLocationEndpoint">
		<description>
			Given a physical location will try to find all the genes that are in the given location (will grow the location given to include all genes)
		</description>
		<property name="geneService" ref="geneService" />
		<property name="chromosomeService" ref="chromosomeService" />		
		<property name="taxonService" ref="taxonService" />		
		<property name="manualAuthenticationService" ref="manualAuthenticationService" />
	</bean>


</beans>