/* Apply class "x-toolbar-standardbutton" to buttons on a toolbar
 * to make them appear with "normal" button styling, instead of toolbar button styling */
.x-toolbar .x-toolbar-standardbutton .x-btn-tl { background-position: 0 0; }
.x-toolbar .x-toolbar-standardbutton .x-btn-tr { background-position: -3px 0; }
.x-toolbar .x-toolbar-standardbutton .x-btn-tc { background-position: 0 -6px; }
.x-toolbar .x-toolbar-standardbutton .x-btn-ml { background-position: 0px -24px; }
.x-toolbar .x-toolbar-standardbutton .x-btn-mr { background-position: -3px -24px; }
.x-toolbar .x-toolbar-standardbutton .x-btn-mc { background-position: 0 -1096px; }
.x-toolbar .x-toolbar-standardbutton .x-btn-bl { background-position: 0 -3px; }
.x-toolbar .x-toolbar-standardbutton .x-btn-br { background-position: -3px -3px; }
.x-toolbar .x-toolbar-standardbutton .x-btn-bc { background-position: 0 -15px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-tl{ background-position: -6px 0; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-tr { background-position: -9px 0; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-tc { background-position: 0 -9px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-ml { background-position: -6px -24px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-mr { background-position: -9px -24px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-mc { background-position: 0 -2168px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-bl { background-position: -6px -3px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-br { background-position: -9px -3px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-over .x-btn-bc { background-position: 0 -18px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-tl, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-tl, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-tl { background-position: -12px 0; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-tr, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-tr, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-tr { background-position: -15px 0; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-tc, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-tc, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-tc { background-position: 0 -12px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-ml, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-ml, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-ml { background-position: -12px -24px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-mr, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-mr, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-mr { background-position: -15px -24px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-mc, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-mc, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-mc { background-position: 0 -3240px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-bl, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-bl, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-bl { background-position: -12px -3px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-br, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-br, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-br { background-position: -15px -3px; }
.x-toolbar .x-toolbar-standardbutton.x-btn-click .x-btn-bc, 
.x-toolbar .x-toolbar-standardbutton.x-btn-menu-active .x-btn-bc, 
.x-toolbar .x-toolbar-standardbutton.x-btn-pressed .x-btn-bc { background-position: 0 -21px; }