.gq-head {
    font-size: 120%;
}

.gq-head .gq-row {
    line-height: 200%;
    font-weight: bold;
}

.gq-head .gq-extra .gq-btn {
    top: -10px;
}

.gq-body {
    filter: saturate(70%);
    margin: 0;
    background: whitesmoke !important;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.gq-btn {
    width: 100% !important;
    padding: 5px;
    background: whitesmoke;
}

.gq-btn:hover {
    filter: brightness(90%);
}

.gq-btn * {
    font-size: 106% !important;
    cursor: pointer;
    background: transparent !important;
}

.extjs-sucks {
    margin: 0;
    text-align: center !important;
}

.extjs-sucks * {
    text-align: center !important;
}

.gq-btn-details {
    text-align: left !important;
    margin: 0 !important;
    width: 100% !important;
    background: whitesmoke !important;
    /*Looks better when the manual score override UI is enabled*/
    /*border-left: 1px solid lightgray;*/
    /*border-bottom: 1px solid lightgray;*/
    /*border-right: 1px solid lightgray;*/
}

.gq-btn-details:hover {
    background: lightgray !important;
    filter: none;
}

.gq-btn-details * {
    text-align: center !important;
    display: inline-block !important;
    background: whitesmoke !important;
}

.gq-btn-details:hover * {
    background: lightgray !important;
    filter: none;
}

.gq-btn-save {
    border: solid 1px darkgray;
    border-radius: 10px;
    margin: 10px 5px 5px;
    padding: 7px 5px 5px 5px;
    width: 50% !important;
    background: whitesmoke !important;
}

.gq-btn-save:hover {
    filter: brightness(110%);
}

.gq-btn-save * {
    font-size: 106% !important;
    cursor: pointer;
    background: whitesmoke !important;
}

.gq-btn-recalc-all {
    text-align: center !important;
    font-size: 90% !important;
    font-weight: 900 !important;
    display: inline-block !important;
    padding: 10px;
    margin: 20px 0 !important;
    width: 90% !important;
    box-shadow: 0 0 3px #b9b9b9;
}

.gq-btn-recalc-all * {
    text-align: center !important;
    display: inline-block !important;
    cursor: pointer !important;
}

.gq-btn-recalc-all.x-item-disabled {
    color: darkgray !important;
    background-color: lightgray !important;
}

.gq-row {
    padding: 2px;
}

.gq-row.has-extra {
    margin-bottom: 0;
}

.gq-row .fa {
    margin-left: 5px;
}

.gq-label {
    display: inline-block;
    width: 180px;
    font-weight: 500;
    padding: 0 10px;
    text-align: right;
}

.gq-label:after {
    content: ':';
}

.gq-value.negative {
    margin-left: -5px;
}

.gq-errors span.icon {
    font-size: 300%;
    width: 10%;
}

.gq-errors span.msg {
    float: right;
    width: 90%;
}

.gq-errors pre {
    padding: 5px;
    background: lightgray;
    white-space: pre-wrap;
}

.gq-extra {
    box-shadow: inset 0 10px 10px -10px #585858;
    text-align: center;
    background: lightgray !important;
    margin: 0;
    padding: 0 5px 5px 5px;
}

.gq-extra * {
    background: transparent;
    display: inline-block;
}

.gq-extra label {
    padding-right: 20px;
}

.gq-extra .gq-btn {
    padding: 0;
    position: relative;
    top: -8px;
}

.gq-extra .gq-btn * {
    color: #747474;
}

.gq-subscore-refresh-btn {
    margin-right: 10px;
    padding: 5px;
}

.gq-override-value-slider {
    width: 200px;
    margin: 0;
    padding: 0;
}

.gq-override-value-slider .x-slider-end, .x-slider-start {
    background: none;
}

.gq-override-value-slider .x-slider-inner {
    height: 5px;
    background: gray none;
    border-radius: 10px;
}

.gq-override-value-slider .x-slider-thumb {
    background-image: none !important;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    top: -6px;
}

.gq-override-value-wrap {
    position: relative;
    top: 10px;
    overflow: visible;
    margin-right: 10px;
}

.gq-override-value {
    border: none;
    font-size: 105%;
    padding: 2px;
    text-align: center;
}

.gq-override-value[disabled] {
    filter: grayscale(100%);
}

.gq-notif, .gq-notif * {
    vertical-align: text-bottom !important;
    display: inline-block !important;
}

.gq-notif span {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: royalblue;
    color: white;
}

.gq-notif span:not([hidden]) {
    opacity: 1;
}

.gq-notif span[hidden] {
    opacity: 0;
    transition: opacity 1s linear;
}
