/*  
// Icon Classes */

.icon-graph {
	background-image:url(../images/icons/chart_curve.png) ! important;
}
.icon-chart {
	background-image:url(../images/icons/chart_bar.png) ! important;
}
.icon-ok {
	background-image:url(../images/icons/ok16.png) ! important;
}
.icon-view-tile {
	background-image:url(../images/icons/application_view_tile.png) ! important;
}
.icon-check, .icon-check-off {
	background-image:url(../images/default/menu/unchecked.gif) ! important;
}
.icon-check-on {
	background-image:url(../images/default/menu/checked.gif) ! important;
}
.icon-grid {
    background-image:url(../images/icons/application_view_columns.png) !important;
}
.icon-plus {
	background-image:url(../images/icons/add.png) ! important;
}
.icon-minus {
	background-image:url(../images/icons/delete.png) ! important;
}
.icon-disk {
	background-image:url(../images/icons/disk.png) ! important;
}
.icon-undo {
	background-image:url(../images/icons/arrow_undo.png) ! important;
}
.icon-loading {
	background-image:url(../images/default/grid/grid-loading.gif) ! important;
}
.icon-db-refresh {
	background-image:url(../images/icons/database_refresh.png) ! important;
}
.icon-magnifier {
	background-image:url(../images/icons/magnifier.png) ! important;
}
.icon-group-add {
	background-image:url(../images/icons/group_add.png) ! important;
}
.icon-group-del {
	background-image:url(../images/icons/group_delete.png) ! important;
}
.icon-cancel {
	background-image:url(../images/icons/cancel16.png) ! important;
}
.icon-cross {
	background-image:url(../images/icons/cross.png) ! important;
}
.icon-defaults {
	background-image:url(../images/icons/arrow_rotate_clockwise.png) ! important;
}
.icon-load {
	background-image:url(../images/icons/database_go.png) ! important;
}
.icon-working {
	background-image:url(../images/default/grid/wait.gif) ! important;
}
.icon-open-download {
	background-image:url(../images/icons/application_put.png) ! important;
}
.icon-refresh {
	background-image:url(../images/icons/arrow_refresh_small.png) ! important;
}
.icon-pencil {
	background-image:url(../images/icons/pencil.png) ! important;
}
.icon-email {
	background-image:url(../images/icons/email.png) ! important;
}
.icon-zoom {
	background-image:url(../images/icons/zoom.png) ! important;
}
.icon-extension {
	background-image:url(../images/icons/brick.png) ! important;
}
.icon-info {
	background-image:url(../images/icons/information.png) ! important;
}
.icon-warn {
	background-image:url(../images/icons/error.png) ! important;
}
.icon-arrow-right {
	background-image:url(../images/icons/arrow_right.png) ! important;
}
.icon-blank-img {
	background-image:url(../images/default/s.gif) ! important;
}
.x-form-field-wrap .x-trigger-disabled {
	cursor:default;
	opacity:0.5;
	background-position:0 0;
}
.icon-question {
	background:url(../images/icons/question_blue.png) no-repeat ! important;
	width: 20px;
	height: 20px;
	
}

/*  Icon Classes end */

