/* This is the style for the informational messages presented to the user */

div.message {
    /*    background: #ffffcc; */
    /*    border: 1px solid #000; */
    font-weight: normal;
    margin: 2px auto;
    padding: 1px;
    text-align: left;
    vertical-align: bottom;
}

div.message p, div.message p {
    margin-bottom: 0;
}

div.message a {
    background: transparent;
    color: #0000FF;
}

div.message a:visited {
    background: transparent;
    color: #0000FF;
}

div.message a:hover {
    background: transparent;
    color: #008000;
}

div.message a:active {
    text-decoration: underline overline;
}

div.message img.icon {
    vertical-align: middle;
}
