#progressBar {
	padding-top: 5px;	
	width: 500px;
}

#progressBarBox {
	height: 20px;
	border: 1px inset;
	background: #EEEEEE;
}

#progressBarBoxContent {
	width: 0;
	height: 20px;
	border-right: 1px solid #444444;
	background: #9ACB34;
}

#progressBarText {
	
}

#theMeter {
       
}