<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       profile="web">
    <bean class="ubic.gemma.rest.analytics.ga4.GoogleAnalytics4Provider">
        <constructor-arg value="${ga.tracker}"/>
        <constructor-arg value="${ga.secretKey}"/>
        <property name="clientIdRetrievalStrategy">
            <bean class="ubic.gemma.rest.analytics.ga4.CompositeClientIdRetrievalStrategy">
                <constructor-arg>
                    <list>
                        <bean class="ubic.gemma.rest.analytics.ga4.RequestHeaderBasedClientIdRetrievalStrategy"/>
                        <bean class="ubic.gemma.rest.analytics.ga4.RequestAttributesBasedClientIdRetrievalStrategy">
                            <property name="scope">
                                <util:constant
                                    static-field="org.springframework.web.context.request.RequestAttributes.SCOPE_SESSION"/>
                            </property>
                        </bean>
                        <bean class="ubic.gemma.rest.analytics.ga4.RequestAttributesBasedClientIdRetrievalStrategy">
                            <property name="scope">
                                <util:constant
                                    static-field="org.springframework.web.context.request.RequestAttributes.SCOPE_REQUEST"/>
                            </property>
                        </bean>
                    </list>
                </constructor-arg>
            </bean>
        </property>
        <property name="userIdRetrievalStrategy">
            <bean class="ubic.gemma.rest.analytics.ga4.AuthenticationBasedUserIdRetrievalStrategy">
                <constructor-arg ref="authenticationTrustResolver"/>
            </bean>
        </property>
        <property name="debug" value="${ga.debug}"/>
    </bean>
</beans>