body {
    text-align: left;
    font: normal 0.9em arial, sans-serif;
    color: #000000;
    text-decoration: none;
}

body, td, select, input, li {
    font-family: arial, sans-serif;
    font-size: 0.9em;
}

a, a:link,
a:active {
    color: #004f64;
    text-decoration: none;
}

a:visited {
    color: #004f64;
    background-color: transparent;
}

a:hover {
    color: #f47f20;
    text-decoration: none;
}

a.annotationLink {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 2.2em;
    letter-spacing: -1px;
    line-height: 1.3em;
    margin: 0 0 0.5em 0;
    padding: 0;
    border: 0;
    color: #000;
    background: #fff;
}

h2 {
    font-size: 1.6em;
    line-height: 1.4em;
    margin: 0 0 0.5em 0;
    padding: 0;
    border: 0;
    background: #fff;
}

h3 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0 0 0.5em 0;
    padding: 10px 0 0 0;
    color: black;
    border: 0;
    background: #fff;
}

h4 {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 0 0 0.25em 0;
    padding: 0;
    color: black;
    border: 0;
    background: #fff;
}

h5 {
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0 0 0.25em 0;
    padding: 0;
    color: black;
}

h6 {
    font-size: 1em;
    line-height: 1.3em;
    margin: 0 0 0.25em 0;
    padding: 0;
    color: black;
    border: 0;
    background: #fff;
}

p {
    font-size: 1em;
    margin: 0 0 1.5em 0;
    padding: 0 20px 0 20px;
    line-height: 1.4em;
}

/* Used in generated resources site */
/*noinspection CssUnusedSymbol*/
#breadcrumbs {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}

/* Used in generated resources site */
/*noinspection CssUnusedSymbol*/
#leftColumn {
    margin: 10px 0 0 5px;
    border: 0;
    background-color: #fff;
}

#footer {
    color: #666666;
    width: 95%;
    margin: 10px 0 0;
    padding: 20px 0 0 30px;
    text-align: left;
    font-size: 0.9em;
    border-top: 1px solid #abc;
}

dl {
    padding: 4px 4px 4px 6px;
    border: 0;
    background-color: #fff;
}

dt {
    color: #900;
}