<?xml version="1.0"?>
<settings>
	<localRepository>C:/java/.m2/repository</localRepository>
	<profiles>
		<profile>
			<id>dev</id> 
			<properties>
				<bootstrap.db.url>
					jdbc:mysql://localhost:3306/test
				</bootstrap.db.url>
				<gemma.testdb.build.url>
					jdbc:mysql://localhost:3306/gemdtest
				</gemma.testdb.build.url>
				<gemma.db.build.url>
					jdbc:mysql://localhost:3306/gemd
				</gemma.db.build.url>
				<gemma.testdb.name>
					gemdtest
				</gemma.testdb.name>
				<gemma.db.build.user>root</gemma.db.build.user>
				<gemma.db.build.password>XXXXXX</gemma.db.build.password>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>dev</activeProfile> 
		<activeProfile>eclipse build</activeProfile>
	</activeProfiles>
</settings>
