---
---

@import "{{ site.theme }}";

table.image{
  display: table;
  width: 100%;
}

table.image tbody {
    display: table-row-group;
    width: 100%;
}

.image caption{
  font-size: smaller;
  color: $code-text-color;
}
