Dear ${username},

Thank you for registering for Gemma ($siteurl).

Please confirm your registration by clicking on the following link:

${confirmLink}

Please feel free to contact us: gemma@chibi.ubc.ca

Enjoy!
