<?xml version="1.0" encoding="UTF-8"?>

	<!--

		Defines validator factory used to retrieve validators for beans. Beans are matched to their validators based on the
		class name. $Id$
	-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="validatorFactory" class="org.springmodules.validation.commons.DefaultValidatorFactory">
		<property name="validationConfigLocations">
			<list>
				<value>/WEB-INF/validator-rules.xml</value>
				<!--
					the standard struts-validation rules
				-->
				<value>/WEB-INF/validation.xml</value><!-- main config file -->
				<value>/WEB-INF/validator-rules-custom.xml</value><!-- customized rules -->
			</list>
		</property>
	</bean>

</beans>
