<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- This bean allow for generating URLs relative to the context path or the host URL -->
    <bean id="webEntityUrlBuilder" class="ubic.gemma.web.util.WebEntityUrlBuilder">
        <constructor-arg value="${gemma.hosturl}"/>
        <constructor-arg ref="servletContext"/>
    </bean>
</beans>