<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task.xsd"
       profile="web">

    <!-- author: keshav -->

    <task:annotation-driven/>
    <!-- Note: we cannot use @Scheduled and @Async because the security context is not available to the runnables they create. -->

    <!-- Quartz Configuration. The schedulerFactorBean is the main entry point. See also QuartzUtils for how this can be turned
        off. -->
    <bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="arrayDesignReportTrigger"/>
                <ref local="expressionExperimentReportTrigger"/>
                <ref local="whatsNewTrigger"/>
                <ref local="gene2CsUpdateTrigger"/>
                <ref local="batchInfoTrigger"/>
                <ref local="ee2cExperimentUpdateTrigger"/>
                <ref local="ee2cSampleUpdateTrigger"/>
                <ref local="ee2cExperimentalDesignUpdateTrigger"/>
                <ref local="ee2adUpdateTrigger"/>
                <ref local="indexExperimentsTrigger"/>
                <!-- <ref local="viewTrigger" /> -->
                <!--<ref local="monitorSpaceTrigger" /> -->
            </list>
        </property>
        <property name="autoStartup" value="${quartzOn}"/>
    </bean>

    <!-- Triggers -->
    <!-- Cron trigger fields are: Seconds 0-59 , - * / Minutes 0-59 , - * / Hours 0-23 , - * / Day-of-month 1-31 , - * ? / L
        W Month 1-12 or JAN-DEC , - * / Day-of-Week 1-7 or SUN-SAT , - * ? / L # Year (Optional) empty, 1970-2099 , - * / See http://www.opensymphony.com/quartz/api/org/quartz/CronExpression.html
        for details, http://www.opensymphony.com/quartz/api/org/quartz/CronTrigger.html for examples. If you want a schedule that
        fire frequently for testing, try <value>0 0/2 * ? * *</value>. -->
    <bean id="batchInfoTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="expressionExperimentReportService"/>
                <property name="concurrent" value="false"/>
                <property name="targetMethod" value="recalculateBatchInfo"/>
            </bean>
        </property>
        <!-- every day at 00:30:00 -->
        <property name="cronExpression" value="0 30 0 * * ?"/>
    </bean>
    <bean id="expressionExperimentReportTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean
                class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="expressionExperimentReportService"/>
                <property name="concurrent" value="false"/>
                <property name="targetMethod" value="generateSummaryObjects"/>
            </bean>
        </property>
        <!-- every first-of-the-month at 00:15:00 -->
        <property name="cronExpression" value="0 15 0 1 * ?"/>
    </bean>
    <bean id="arrayDesignReportTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean
                class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="arrayDesignReportService"/>
                <property name="concurrent" value="false"/>
                <property name="targetMethod" value="generateArrayDesignReport"/>
            </bean>
        </property>
        <!-- every first-of-the-month at 01:30:00 -->
        <property name="cronExpression" value="0 30 1 1 * ?"/>
    </bean>
    <bean id="whatsNewTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean
                class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="whatsNewService"/>
                <property name="concurrent" value="false"/>
                <property name="targetMethod" value="generateWeeklyReport"/>
            </bean>
        </property>
        <!-- every day at 00:15:00 -->
        <property name="cronExpression" value="0 15 0 * * ?"/>
    </bean>
    <bean id="gene2CsUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean
                class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="tableMaintenanceUtil"/>
                <property name="concurrent" value="false"/>
                <property name="targetMethod" value="updateGene2CsEntries"/>
            </bean>
        </property>
        <!-- every day at 00:40:00 -->
        <property name="cronExpression" value="0 40 0 * * ?"/>
    </bean>
    <bean id="ee2cExperimentUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="tableMaintenanceUtil"/>
                <property name="targetMethod" value="updateExpressionExperiment2CharacteristicEntries"/>
                <property name="arguments">
                    <array>
                        <value type="java.lang.Class">ubic.gemma.model.expression.experiment.ExpressionExperiment</value>
                        <value>false</value>
                    </array>
                </property>
                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <!-- hourly during working hours when the curators actively dataset tags -->
        <property name="cronExpression" value="0 0 9-17 ? * MON-FRI"/>
    </bean>
    <bean id="ee2cSampleUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="tableMaintenanceUtil"/>
                <property name="targetMethod" value="updateExpressionExperiment2CharacteristicEntries"/>
                <property name="arguments">
                    <array>
                        <value type="java.lang.Class">ubic.gemma.model.expression.biomaterial.BioMaterial</value>
                        <value>false</value>
                    </array>
                </property>
                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <!-- hourly during working hours, when new experiments are imported -->
        <!-- runs 10 minutes after tag update -->
        <property name="cronExpression" value="0 10 9-17 ? * MON-FRI"/>
    </bean>
    <bean id="ee2cExperimentalDesignUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="tableMaintenanceUtil"/>
                <property name="targetMethod" value="updateExpressionExperiment2CharacteristicEntries"/>
                <property name="arguments">
                    <array>
                        <value type="java.lang.Class">ubic.gemma.model.expression.experiment.ExperimentalDesign</value>
                        <value>false</value>
                    </array>
                </property>
                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <!-- every 30 minutes during working hours (when the curators actively update annotations) -->
        <!-- runs 20 minutes after tag update -->
        <property name="cronExpression" value="0 20/30 9-17 ? * MON-FRI"/>
    </bean>
    <bean id="ee2adUpdateTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="tableMaintenanceUtil"/>
                <property name="targetMethod" value="updateExpressionExperiment2ArrayDesignEntries"/>
                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <!-- every hour during working hours (mostly when new datasets are added & RNA-Seq data is imported which produce a platform switch) -->
        <!-- datasets are only made public during working hours, so even if they are imported by the pipeline, that will not be reflected until it is made public -->
        <property name="cronExpression" value="0 0 9-17 ? * MON-FRI"/>
    </bean>
    <bean id="indexExperimentsTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail">
            <bean class="ubic.gemma.web.scheduler.SecureMethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="indexerService"/>
                <property name="targetMethod" value="index"/>
                <property name="arguments">
                    <set>
                        <value>ubic.gemma.model.expression.experiment.ExpressionExperiment</value>
                    </set>
                </property>
                <property name="concurrent" value="false"/>
            </bean>
        </property>
        <!-- at 1:00 AM, every working day -->
        <property name="cronExpression" value="23 0 0 ? * MON-FRI"/>
    </bean>

    <!-- TODO make this work in the space, disabling until then. <bean id="viewTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail"> <ref bean="viewJobDetail" /> </property> <property name="cronExpression"> <value>0 15 1 10 *
        ?</value> </property> </bean> -->
    <!--<bean id="monitorSpaceTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean"> -->
    <!--<property name="jobDetail"> -->
    <!--<ref bean="monitorSpaceJobDetail" /> -->
    <!--</property> -->
    <!--<property name="repeatInterval"> -->
    <!--<value>5000</value> -->
    <!--</property> -->

    <!--<property name="startDelay" value="12" /> &lt;!&ndash; wait before beginning &ndash;&gt; -->
    <!--</bean> -->
</beans>