<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">

<!--  
    
    Defines validator factory used to retrieve validators for beans. Beans are matched to their validators based on the class name.
    
    $Id$
    
-->
<beans>
    <bean id="validatorFactory"
        class="org.springmodules.validation.commons.DefaultValidatorFactory">
        <property name="validationConfigLocations">
            <list>
                <value>/WEB-INF/validator-rules.xml</value><!--  the standard struts-validation rules -->
                <value>/WEB-INF/validation.xml</value><!-- main config file -->
                <value>/WEB-INF/validator-rules-custom.xml</value><!-- customized rules -->
            </list>
        </property>
    </bean>
</beans>
