<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
    "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<!-- 
	author: keshav   
	$Id$ 
-->
<beans>
	<bean id="indexService" class="ubic.gemma.search.IndexService">
		<property name="expressionGps">
			<ref bean="expressionGps" />
		</property>
		<property name="geneGps">
			<ref bean="geneGps" />
		</property>
		<property name="arrayGps">
			<ref bean="arrayGps" />
		</property>
		<property name="ontologyGps">
			<ref bean="ontologyGps" />
		</property>
	</bean>
	<bean id="searchService" class="ubic.gemma.search.SearchService">
		<property name="geneService">
			<ref bean="geneService" />
		</property>
		<property name="geneProductService">
			<ref bean="geneProductService" />
		</property>
		<property name="bioSequenceService">
			<ref bean="bioSequenceService" />
		</property>
		<property name="compositeSequenceService">
			<ref bean="compositeSequenceService" />
		</property>
		<property name="expressionExperimentService">
			<ref bean="expressionExperimentService" />
		</property>
		<property name="arrayDesignService">
			<ref bean="arrayDesignService" />
		</property>
		<property name="bibliographicReferenceService">
			<ref bean="bibliographicReferenceService" />
		</property>
		<property name="geneBean">
			<ref bean="compassGene" />
		</property>
		<property name="eeBean">
			<ref bean="compassExpression" />
		</property>
		<property name="arrayBean">
			<ref bean="compassArray" />
		</property>
		<property name="ontologyBean">
			<ref bean="compassOntology" />
		</property>
		<property name="bibliographicReferenceBean">
			<ref bean="compassBibliographic" />
		</property>
	</bean>
	<!-- Generic compass configuration bean - for the rest see compass.xml and compasstest.xml -->
	<bean id="hibernateGpsDevice"
		class="org.compass.spring.device.hibernate.SpringHibernate3GpsDevice"
		singleton="false">
		<property name="name">
			<value>hibernateDevice</value>
		</property>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="mirrorDataChanges">
			<value>false</value>
		</property>
		<property name="fetchCount">
			<value>100</value>
		</property>

	</bean>
	<bean id="expressionGps"
		class="org.compass.gps.impl.SingleCompassGps" init-method="start"
		destroy-method="stop">
		<property name="compass">
			<ref bean="compassExpression" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="geneGps" class="org.compass.gps.impl.SingleCompassGps"
		init-method="start" destroy-method="stop">
		<property name="compass">
			<ref bean="compassGene" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="arrayGps" class="org.compass.gps.impl.SingleCompassGps"
		init-method="start" destroy-method="stop">
		<property name="compass">
			<ref bean="compassArray" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="ontologyGps" class="org.compass.gps.impl.SingleCompassGps"
		init-method="start" destroy-method="stop">
		<property name="compass">
			<ref bean="compassOntology" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="bibliographicGps"
		class="org.compass.gps.impl.SingleCompassGps" init-method="start"
		destroy-method="stop">
		<property name="compass">
			<ref bean="compassBibliographic" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
		<bean id="probeGps"
		class="org.compass.gps.impl.SingleCompassGps" init-method="start"
		destroy-method="stop">
		<property name="compass">
			<ref bean="compassProbe" />
		</property>
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.SpringSyncTransactionGpsDeviceWrapper">
					<property name="gpsDevice" ref="hibernateGpsDevice" />
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- Quartz Indexing Configuration -->
	<bean id="schedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>			
				<ref local="arrayDesignTrigger" />
				<ref local="expressionExperimentTrigger" />
				<ref local="whatsNewTrigger" />
				<ref local="hibernateStatsTrigger" />
			</list>
		</property>
	</bean>
	<bean id="indexTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="indexJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 15 1 ? * *</value>
		</property>
	</bean>
	<bean id="arrayDesignTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="arrayDesignJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 30 1 1 * ?</value>
		</property>
	</bean>
	<bean id="expressionExperimentTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="expressionExperimentJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 15 0 1 * ?</value>
		</property>
	</bean>
	<bean id="whatsNewTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="whatsNewJobDetail" />
		</property>
		<property name="cronExpression">
			<value>0 15 0 ? * *</value>
		</property>
	</bean>
	<bean id="hibernateStatsTrigger"
		class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<ref bean="hibernateStatsJobDetail" />
		</property>
		<property name="repeatInterval">
			<value>1800000</value>
		</property>
	</bean>
	<bean id="indexJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="indexService" />
		</property>
		<property name="targetMethod">
			<value>indexAll</value>
		</property>
	</bean>
	<bean id="arrayDesignJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="arrayDesignReportService" />
		</property>
		<property name="targetMethod">
			<value>generateArrayDesignReport</value>
		</property>
	</bean>
	<bean id="expressionExperimentJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="expressionExperimentReportGenerationService" />
		</property>
		<property name="targetMethod">
			<value>generateSummaryObjects</value>
		</property>
	</bean>
	<bean id="whatsNewJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="whatsNewService" />
		</property>
		<property name="targetMethod">
			<value>generateWeeklyReport</value>
		</property>
	</bean>
	<bean id="hibernateStatsJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="hibernateMonitor" />
		</property>
		<property name="targetMethod">
			<value>getStats</value>
		</property>
	</bean>
</beans>
