<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- This defines which classes are picked up by annotation-scanning for beans (e.g. @Component or @Service or @Repository
        or @Controller). We exclude ubic.gemma.web here, it is brought in by gemma-servlet.xml. -->
    <context:component-scan base-package="ubic.gemma" name-generator="ubic.gemma.core.context.BeanNameGenerator">
        <context:exclude-filter type="regex" expression="ubic\.gemma\.web\..*"/>
        <context:exclude-filter type="annotation" expression="ubic.gemma.core.context.TestComponent"/>
    </context:component-scan>

</beans>