<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!-- we use the same database for production and development -->
    <beans profile="production,dev">
        <!-- Database connection information -->
        <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
            <property name="driverClassName" value="${gemma.db.driver}"/>
            <property name="username" value="${gemma.db.user}"/>
            <property name="password" value="${gemma.db.password}"/>
            <property name="jdbcUrl" value="${gemma.db.url}"/>
            <property name="dataSourceProperties">
                <props>
                    <prop key="connectionTimeZone">${gemma.db.timezone}</prop>
                    <prop key="sessionVariables">sql_mode='${gemma.db.sqlMode}'</prop>
                </props>
            </property>
            <property name="maximumPoolSize" value="${gemma.db.maximumPoolSize}"/>
        </bean>
    </beans>

    <beans profile="test">
        <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
            <property name="driverClassName" value="${gemma.testdb.driver}"/>
            <property name="username" value="${gemma.testdb.user}"/>
            <property name="password" value="${gemma.testdb.password}"/>
            <property name="jdbcUrl" value="${gemma.testdb.url}"/>
            <property name="dataSourceProperties">
                <props>
                    <prop key="connectionTimeZone">${gemma.testdb.timezone}</prop>
                    <prop key="sessionVariables">sql_mode='${gemma.testdb.sqlMode}'</prop>
                </props>
            </property>
        </bean>
    </beans>

    <beans profile="nodb">
        <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
            <!-- intentionally left blank -->
        </bean>
    </beans>

    <beans profile="production">
        <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
            <property name="host" value="${mail.host}"/>
            <property name="username" value="${mail.username}"/>
            <property name="password" value="${mail.password}"/>
        </bean>
    </beans>

    <beans profile="!production">
        <bean id="mailSender" class="ubic.gemma.core.util.DummyMailSender"/>
    </beans>

</beans>
