<?xml version="1.0" encoding="UTF-8"?>
<!-- Somewhat miscellaneous beans. @author Gemma paul -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="entityUrlBuilder" class="ubic.gemma.persistence.util.EntityUrlBuilder" primary="true">
        <constructor-arg name="hostUrl" value="${gemma.hosturl}"/>
    </bean>

    <!-- Local tasks executor for short-lived tasks -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" primary="true">
        <property name="threadNamePrefix" value="gemma-local-tasks-thread-"/>
        <property name="corePoolSize" value="${gemma.localTasks.corePoolSize}"/>
    </bean>

    <!-- Task executor used for generating data files -->
    <bean id="expressionDataFileTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="threadNamePrefix" value="gemma-expression-data-file-tasks-thread-"/>
        <property name="corePoolSize" value="${gemma.expressionDataFileTasks.corePoolSize}"/>
        <property name="queueCapacity" value="${gemma.expressionDataFileTasks.queueCapacity}"/>
    </bean>

    <!-- micrometer, for metrics -->
    <beans profile="metrics">
        <bean id="meterRegistry" class="io.micrometer.jmx.JmxMeterRegistry">
            <constructor-arg value="DEFAULT"/>
            <constructor-arg value="SYSTEM"/>
        </bean>
        <bean class="ubic.gemma.core.metrics.GenericMeterRegistryConfigurer">
            <constructor-arg ref="meterRegistry"/>
            <constructor-arg>
                <list>
                    <!-- basic metrics -->
                    <bean class="io.micrometer.core.instrument.binder.jvm.ClassLoaderMetrics"/>
                    <bean class="io.micrometer.core.instrument.binder.jvm.JvmMemoryMetrics"/>
                    <bean class="io.micrometer.core.instrument.binder.system.ProcessorMetrics"/>
                    <bean class="io.micrometer.core.instrument.binder.jvm.JvmThreadMetrics"/>
                    <!-- logging metrics -->
                    <bean class="io.micrometer.core.instrument.binder.logging.Log4j2Metrics"/>
                    <!-- database metrics -->
                    <bean class="ubic.gemma.core.metrics.binder.jpa.Hibernate4Metrics">
                        <constructor-arg ref="sessionFactory"/>
                        <constructor-arg value="sessionFactory"/>
                        <constructor-arg>
                            <list/>
                        </constructor-arg>
                    </bean>
                    <bean class="ubic.gemma.core.metrics.binder.jpa.Hibernate4QueryMetrics">
                        <constructor-arg ref="sessionFactory"/>
                        <constructor-arg value="sessionFactory"/>
                        <constructor-arg>
                            <list/>
                        </constructor-arg>
                    </bean>
                    <bean class="ubic.gemma.core.metrics.binder.database.HikariCPMetrics">
                        <constructor-arg ref="dataSource"/>
                    </bean>
                    <bean class="ubic.gemma.core.metrics.binder.GenericTaskExecutorMetrics">
                        <constructor-arg ref="taskExecutor"/>
                        <property name="poolName" value="gemmaLocalTasks"/>
                    </bean>
                    <ref bean="taskRunningService"/>
                </list>
            </constructor-arg>
        </bean>
        <bean class="ubic.gemma.core.metrics.MeterRegistryEhcacheConfigurer">
            <constructor-arg ref="meterRegistry"/>
            <constructor-arg ref="cacheManager"/>
        </bean>
        <!-- for @Timed annotations -->
        <aop:aspectj-autoproxy/>
        <bean class="io.micrometer.core.aop.TimedAspect">
            <constructor-arg ref="meterRegistry"/>
        </bean>
    </beans>

</beans>
