.wizardTabPanelUseCustomIcon .icon-wizard-next {
	background-image: url(/Gemma/images/icons/arrow_right.png);
}
.wizardTabPanelUseCustomIcon .x-tab-strip-top .x-tab-right,
.wizardTabPanelUseCustomIcon .x-tab-strip-top .x-tab-left,
.wizardTabPanelUseCustomIcon .x-tab-strip-top .x-tab-strip-inner {
	background-image: none;
}

.wizardTabPanelUseCustomIcon .x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
	padding-left: 0px;
	padding-right: 36px;
	background-position: right;
}

.wizardTabPanel span.link {
	text-decoration: none;
}

/* mask() is called on a panel to make the panel read-only. */
.wizardTabPanel .ext-el-mask {
	background-color: transparent;
}

.wizardTabPanel .read-only-warning {
	height: 16px;
	left: 200px !important;
	top: 2px !important;
}
.wizardTabPanel .read-only-warning div {
	color: red;
	border-color: red;
	height: 12px;
    padding: 1px 6px;
}
