<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd"
       profile="cli">

    <!-- CLI-specific components -->
    <context:component-scan base-package="ubic.gemma.cli"
                            name-generator="ubic.gemma.core.context.BeanNameGenerator">
        <context:exclude-filter type="annotation" expression="ubic.gemma.core.context.TestComponent"/>
    </context:component-scan>

    <!-- Standard CLI tools -->
    <context:component-scan base-package="ubic.gemma.apps"
                            name-generator="ubic.gemma.core.context.BeanNameGenerator"
                            use-default-filters="false"
                            scope-resolver="ubic.gemma.cli.util.PrototypeScopeResolver">
        <context:include-filter type="assignable" expression="ubic.gemma.cli.util.CLI"/>
        <context:exclude-filter type="annotation" expression="ubic.gemma.core.context.TestComponent"/>
    </context:component-scan>

    <!-- CLI tools from contrib packages -->
    <context:component-scan base-package="ubic.gemma.contrib.apps"
                            name-generator="ubic.gemma.core.context.BeanNameGenerator"
                            use-default-filters="false"
                            scope-resolver="ubic.gemma.cli.util.PrototypeScopeResolver">
        <context:include-filter type="assignable" expression="ubic.gemma.cli.util.CLI"/>
        <context:exclude-filter type="annotation" expression="ubic.gemma.core.context.TestComponent"/>
    </context:component-scan>

    <bean class="ubic.gemma.core.context.LazyInitByDefaultPostProcessor"/>
</beans>