9606	1	A1BG	-	A1B|ABG|DKFZp686F0970|GAB|HYST2477	HGNC:5|MIM:138670|Ensembl:ENSG00000121410|HPRD:00726	19	19q13.4	alpha-1-B glycoprotein	protein-coding	A1BG	alpha-1-B glycoprotein	O	alpha-1B-glycoprotein	20111009
9606	2	A2M	-	A2MD|CPAMD5|DKFZp779B086|FWP007|S863-7	HGNC:7|MIM:103950|Ensembl:ENSG00000175899|HPRD:00072	12	12p13.31	alpha-2-macroglobulin	protein-coding	A2M	alpha-2-macroglobulin	O	C3 and PZP-like alpha-2-macroglobulin domain-containing protein 5|OTTHUMP00000196829|alpha-2-M	20111009
9606	3	A2MP1	-	A2MP	HGNC:8	12	12p13.3-p12.3	alpha-2-macroglobulin pseudogene 1	pseudo	A2MP1	alpha-2-macroglobulin pseudogene 1	O	-	20110924
9606	9	NAT1	-	AAC1|MNAT|NAT-1|NATI	HGNC:7645|MIM:108345|Ensembl:ENSG00000171428|HPRD:00149	8	8p22	N-acetyltransferase 1 (arylamine N-acetyltransferase)	protein-coding	NAT1	N-acetyltransferase 1 (arylamine N-acetyltransferase)	O	N-acetyltransferase type 1|OTTHUMP00000122488|OTTHUMP00000224577|OTTHUMP00000224578|OTTHUMP00000224579|arylamide acetylase 1|arylamine N-acetyltransferase 1|monomorphic arylamine N-acetyltransferase	20111001
9606	10	NAT2	-	AAC2|PNAT	HGNC:7646|MIM:612182|Ensembl:ENSG00000156006|HPRD:02000	8	8p22	N-acetyltransferase 2 (arylamine N-acetyltransferase)	protein-coding	NAT2	N-acetyltransferase 2 (arylamine N-acetyltransferase)	O	N-acetyltransferase type 2|NAT-2|OTTHUMP00000161399|OTTHUMP00000224593|arylamide acetylase 2|arylamine N-acetyltransferase 2	20111016
9606	11	AACP	-	NATP	HGNC:15	8	8p22	arylamide acetylase pseudogene	pseudo	AACP	arylamide acetylase pseudogene	O	-	20111019
9606	12	SERPINA3	GIG24	AACT|ACT|GIG25|MGC88254	HGNC:16|MIM:107280|Ensembl:ENSG00000196136|HPRD:00120	14	14q32.1	serpin peptidase inhibitor, clade A (alpha-1 antiproteinase, antitrypsin), member 3	protein-coding	SERPINA3	serpin peptidase inhibitor, clade A (alpha-1 antiproteinase, antitrypsin), member 3	O	OTTHUMP00000244599|OTTHUMP00000244601|alpha-1-antichymotrypsin|cell growth-inhibiting gene 24/25 protein|growth-inhibiting protein 24|growth-inhibiting protein 25|serine (or cysteine) proteinase inhibitor, clade A, member 3|serpin A3	20111023
9606	13	AADAC	-	CES5A1|DAC	HGNC:17|MIM:600338|Ensembl:ENSG00000114771|HPRD:02640	3	3q21.3-q25.2	arylacetamide deacetylase (esterase)	protein-coding	AADAC	arylacetamide deacetylase (esterase)	O	OTTHUMP00000216826|OTTHUMP00000216827|arylacetamide deacetylase	20110927
9606	14	AAMP	-	-	HGNC:18|MIM:603488|Ensembl:ENSG00000127837|HPRD:04600	2	2q35	angio-associated, migratory cell protein	protein-coding	AAMP	angio-associated, migratory cell protein	O	OTTHUMP00000207408|OTTHUMP00000207409|OTTHUMP00000207410|angio-associated migratory cell protein	20110927
9606	15	AANAT	-	DSPS|SNAT	HGNC:19|MIM:600950|Ensembl:ENSG00000129673|HPRD:02974	17	17q25	aralkylamine N-acetyltransferase	protein-coding	AANAT	aralkylamine N-acetyltransferase	O	arylalkylamine N-acetyltransferase|serotonin N-acetyltransferase|serotonin acetylase	20111016
9606	16	AARS	-	CMT2N	HGNC:20|MIM:601065|Ensembl:ENSG00000090861|HPRD:03042	16	16q22	alanyl-tRNA synthetase	protein-coding	AARS	alanyl-tRNA synthetase	O	alaRS|alanine tRNA ligase 1, cytoplasmic|alanine--tRNA ligase|alanyl-tRNA synthetase, cytoplasmic|renal carcinoma antigen NY-REN-42	20110827
9606	17	AAVS1	-	AAV	HGNC:22|MIM:102699	19	19q13|19q13-qter	adeno-associated virus integration site 1	other	AAVS1	adeno-associated virus integration site 1	O	-	20080828
9606	18	ABAT	hCG_1984265	FLJ17813|FLJ30272|GABA-AT|GABAT|NPD009	HGNC:23|MIM:137150|Ensembl:ENSG00000183044|HPRD:00661	16	16p13.2	4-aminobutyrate aminotransferase	protein-coding	ABAT	4-aminobutyrate aminotransferase	O	(S)-3-amino-2-methylpropionate transaminase|4-aminobutyrate aminotransferase, mitochondrial|4-aminobutyrate transaminase|GABA aminotransferase|GABA transaminase|GABA transferase|OTTHUMP00000045876|gamma-amino-N-butyrate transaminase	20111009
9606	19	ABCA1	-	ABC-1|ABC1|CERP|FLJ14958|HDLDT1|MGC164864|MGC165011|TGD	HGNC:29|MIM:600046|Ensembl:ENSG00000165029|HPRD:02501	9	9q31.1	ATP-binding cassette, sub-family A (ABC1), member 1	protein-coding	ABCA1	ATP-binding cassette, sub-family A (ABC1), member 1	O	ATP-binding cassette sub-family A member 1|ATP-binding cassette transporter 1|ATP-binding cassette transporter A1|OTTHUMP00000021833|cholesterol efflux regulatory protein|membrane-bound	20111023
9606	20	ABCA2	RP11-229P13.8	ABC2|MGC129761	HGNC:32|MIM:600047|Ensembl:ENSG00000107331|HPRD:08967	9	9q34	ATP-binding cassette, sub-family A (ABC1), member 2	protein-coding	ABCA2	ATP-binding cassette, sub-family A (ABC1), member 2	O	ATP-binding cassette 2|ATP-binding cassette sub-family A member 2|ATP-binding cassette transporter 2|ATP-binding cassette, sub-family A, member 2|OTTHUMP00000022644|OTTHUMP00000022649	20111001
9606	21	ABCA3	-	ABC-C|ABC3|EST111653|LBM180|MGC166979|MGC72201|SMDP3	HGNC:33|MIM:601615|Ensembl:ENSG00000167972|HPRD:03369	16	16p13.3	ATP-binding cassette, sub-family A (ABC1), member 3	protein-coding	ABCA3	ATP-binding cassette, sub-family A (ABC1), member 3	O	ABC transporter 3|ABC-C transporter|ATP-binding cassette sub-family A member 3|ATP-binding cassette transporter 3|OTTHUMP00000159065	20111001
9606	22	ABCB7	-	ABC7|ASAT|Atm1p|EST140535	HGNC:48|MIM:300135|Ensembl:ENSG00000131269|HPRD:02137	X	Xq13.3	ATP-binding cassette, sub-family B (MDR/TAP), member 7	protein-coding	ABCB7	ATP-binding cassette, sub-family B (MDR/TAP), member 7	O	ABC transporter 7 protein|ATP-binding cassette 7|ATP-binding cassette sub-family B member 7, mitochondrial|ATP-binding cassette transporter 7|OTTHUMP00000023578|OTTHUMP00000023579|OTTHUMP00000235628|OTTHUMP00000235673	20111009
9606	23	ABCF1	DADB-129D20.7	ABC27|ABC50	HGNC:70|MIM:603429|Ensembl:ENSG00000204574|HPRD:09139	6	6p21.33	ATP-binding cassette, sub-family F (GCN20), member 1	protein-coding	ABCF1	ATP-binding cassette, sub-family F (GCN20), member 1	O	ATP-binding cassette 50 (TNF-alpha stimulated)|ATP-binding cassette sub-family F member 1|OTTHUMP00000029110|OTTHUMP00000029111|OTTHUMP00000238584|TNF-alpha-stimulated ABC protein|TNFalpha-inducible ATP-binding protein	20111009
9606	24	ABCA4	-	ABC10|ABCR|ARMD2|CORD3|DKFZp781N1972|FFM|FLJ17534|RMP|RP19|STGD|STGD1	HGNC:34|MIM:601691|Ensembl:ENSG00000198691|HPRD:03408	1	1p22	ATP-binding cassette, sub-family A (ABC1), member 4	protein-coding	ABCA4	ATP-binding cassette, sub-family A (ABC1), member 4	O	ATP binding cassette transporter|ATP-binding cassette sub-family A member 4|ATP-binding cassette transporter, retinal-specific|ATP-binding transporter, retina-specific|OTTHUMP00000012366|RIM ABC transporter|RIM protein|photoreceptor rim protein|retina-specific ABC transporter|retinal-specific ATP-binding cassette transporter|stargardt disease protein	20111023
9606	25	ABL1	RP11-83J21.1	ABL|JTK7|bcr/abl|c-ABL|p150|v-abl	HGNC:76|MIM:189980|Ensembl:ENSG00000097007|HPRD:01809	9	9q34.1	c-abl oncogene 1, non-receptor tyrosine kinase	protein-coding	ABL1	c-abl oncogene 1, non-receptor tyrosine kinase	O	Abelson tyrosine-protein kinase 1|OTTHUMP00000022375|OTTHUMP00000022376|bcr/c-abl oncogene protein|c-abl oncogene 1, receptor tyrosine kinase|proto-oncogene c-Abl|proto-oncogene tyrosine-protein kinase ABL1|tyrosine-protein kinase ABL1|v-abl Abelson murine leukemia viral oncogene homolog 1	20111023
9606	26	ABP1	-	ABP|AOC1|DAO|DAO1|KAO	HGNC:80|MIM:104610|Ensembl:ENSG00000002726|HPRD:00088	7	7q34-q36	amiloride binding protein 1 (amine oxidase (copper-containing))	protein-coding	ABP1	amiloride binding protein 1 (amine oxidase (copper-containing))	O	OTTHUMP00000212758|OTTHUMP00000212759|amiloride-binding protein-1|amiloride-sensitive amine oxidase|amiloride-sensitive amine oxidase [copper-containing]|diamine oxidase|histaminase|kidney amine oxidase	20111002
9606	27	ABL2	RP11-177A2.3	ABLL|ARG|FLJ22224|FLJ31718|FLJ41441	HGNC:77|MIM:164690|Ensembl:ENSG00000143322|HPRD:01259	1	1q25.2	v-abl Abelson murine leukemia viral oncogene homolog 2	protein-coding	ABL2	v-abl Abelson murine leukemia viral oncogene homolog 2	O	Abelson tyrosine-protein kinase 2|OTTHUMP00000033139|OTTHUMP00000033140|OTTHUMP00000218103|OTTHUMP00000218104|OTTHUMP00000218106|OTTHUMP00000218107|OTTHUMP00000218108|OTTHUMP00000240781|abelson-related gene protein|tyrosine-protein kinase ARG	20111013
9606	28	ABO	-	A3GALNT|A3GALT1|GTB|NAGAT	HGNC:79|MIM:110300|HPRD:05821	9	9q34.2	ABO blood group (transferase A, alpha 1-3-N-acetylgalactosaminyltransferase; transferase B, alpha 1-3-galactosyltransferase)	protein-coding	ABO	ABO blood group (transferase A, alpha 1-3-N-acetylgalactosaminyltransferase; transferase B, alpha 1-3-galactosyltransferase)	O	ABO glycosyltransferase|B(A) alpha-1,3-galactosyltransferase|fucosylglycoprotein 3-alpha-galactosyltransferase|fucosylglycoprotein alpha-N-acetylgalactosaminyltransferase|glycoprotein-fucosylgalactoside alpha-N-acetylgalactosaminyltransferase|glycoprotein-fucosylgalactoside alpha-galactosyltransferase|histo-blood group A transferase|histo-blood group A2 transferase|histo-blood group ABO system transferase|histo-blood group B transferase	20110814
9606	29	ABR	-	FLJ45954|MDB	HGNC:81|MIM:600365|Ensembl:ENSG00000159842|HPRD:02649	17	17p13.3	active BCR-related gene	protein-coding	ABR	active BCR-related gene	O	OTTHUMP00000115362|active breakpoint cluster region-related protein	20111001
9606	30	ACAA1	-	ACAA|PTHIO|THIO	HGNC:82|MIM:604054|Ensembl:ENSG00000060971|HPRD:06815	3	3p23-p22	acetyl-CoA acyltransferase 1	protein-coding	ACAA1	acetyl-CoA acyltransferase 1	O	3-ketoacyl-CoA thiolase, peroxisomal|OTTHUMP00000209029|OTTHUMP00000209180|OTTHUMP00000209182|OTTHUMP00000209821|OTTHUMP00000209822|acetyl-Coenzyme A acyltransferase 1|beta-ketothiolase|peroxisomal 3-oxoacyl-CoA thiolase|peroxisomal 3-oxoacyl-Coenzyme A thiolase	20111022
9606	31	ACACA	-	ACAC|ACACAD|ACC|ACC1|ACCA	HGNC:84|MIM:200350|Ensembl:ENSG00000132142|HPRD:01938	17	17q21	acetyl-CoA carboxylase alpha	protein-coding	ACACA	acetyl-CoA carboxylase alpha	O	ACC-alpha|OTTHUMP00000164069|OTTHUMP00000164070|OTTHUMP00000164076|acetyl-CoA carboxylase 1|acetyl-Coenzyme A carboxylase alpha	20111009
9606	32	ACACB	-	ACC2|ACCB|HACC275	HGNC:85|MIM:601557|Ensembl:ENSG00000076555|HPRD:07044	12	12q24.11	acetyl-CoA carboxylase beta	protein-coding	ACACB	acetyl-CoA carboxylase beta	O	ACC-beta|OTTHUMP00000240532|acetyl-CoA carboxylase 2|acetyl-Coenzyme A carboxylase beta	20111001
9606	33	ACADL	-	ACAD4|FLJ94052|LCAD	HGNC:88|MIM:609576|Ensembl:ENSG00000115361|HPRD:01939	2	2q34-q35	acyl-CoA dehydrogenase, long chain	protein-coding	ACADL	acyl-CoA dehydrogenase, long chain	O	OTTHUMP00000163937|acyl-Coenzyme A dehydrogenase, long chain|long-chain specific acyl-CoA dehydrogenase, mitochondrial	20110911
9606	34	ACADM	RP4-682C21.1	ACAD1|FLJ18227|FLJ93013|FLJ99884|MCAD|MCADH	HGNC:89|MIM:607008|Ensembl:ENSG00000117054|HPRD:08447	1	1p31	acyl-CoA dehydrogenase, C-4 to C-12 straight chain	protein-coding	ACADM	acyl-CoA dehydrogenase, C-4 to C-12 straight chain	O	OTTHUMP00000011345|OTTHUMP00000011346|OTTHUMP00000232508|acyl-Coenzyme A dehydrogenase, C-4 to C-12 straight chain|medium-chain specific acyl-CoA dehydrogenase, mitochondrial	20111009
9606	35	ACADS	-	ACAD3|SCAD	HGNC:90|MIM:606885|Ensembl:ENSG00000122971|HPRD:06053	12	12q24.31	acyl-CoA dehydrogenase, C-2 to C-3 short chain	protein-coding	ACADS	acyl-CoA dehydrogenase, C-2 to C-3 short chain	O	OTTHUMP00000240402|OTTHUMP00000240403|acyl-Coenzyme A dehydrogenase, C-2 to C-3 short chain|butyryl-CoA dehydrogenase|mitochondrial short-chain specific acyl-CoA dehydrogenase|short-chain acyl-CoA dehydrogenase|short-chain specific acyl-CoA dehydrogenase, mitochondrial|unsaturated acyl-CoA reductase	20111002
9606	36	ACADSB	RP11-162A23.1	2-MEBCAD|ACAD7|SBCAD	HGNC:91|MIM:600301|Ensembl:ENSG00000196177|HPRD:02626	10	10q26.13	acyl-CoA dehydrogenase, short/branched chain	protein-coding	ACADSB	acyl-CoA dehydrogenase, short/branched chain	O	2-methyl branched chain acyl-CoA dehydrogenase|2-methylbutyryl-coenzyme A dehydrogenase|OTTHUMP00000020685|OTTHUMP00000240061|acyl-Coenzyme A dehydrogenase, short/branched chain|short/branched chain specific acyl-CoA dehydrogenase, mitochondrial	20111009
9606	37	ACADVL	-	ACAD6|LCACD|VLCAD	HGNC:92|MIM:609575|Ensembl:ENSG00000072778|HPRD:01940	17	17p13.1	acyl-CoA dehydrogenase, very long chain	protein-coding	ACADVL	acyl-CoA dehydrogenase, very long chain	O	OTTHUMP00000128351|acyl-Coenzyme A dehydrogenase, very long chain|very long-chain specific acyl-CoA dehydrogenase, mitochondrial	20111009
9606	38	ACAT1	-	ACAT|MAT|T2|THIL	HGNC:93|MIM:607809|Ensembl:ENSG00000075239|HPRD:01946	11	11q22.3	acetyl-CoA acetyltransferase 1	protein-coding	ACAT1	acetyl-CoA acetyltransferase 1	O	OTTHUMP00000232753|acetoacetyl Coenzyme A thiolase|acetoacetyl-CoA thiolase|acetyl-CoA acetyltransferase, mitochondrial|acetyl-Coenzyme A acetyltransferase 1|mitochondrial acetoacetyl-CoA thiolase	20111009
9606	39	ACAT2	-	-	HGNC:94|MIM:100678|Ensembl:ENSG00000120437|HPRD:00006	6	6q25.3	acetyl-CoA acetyltransferase 2	protein-coding	ACAT2	acetyl-CoA acetyltransferase 2	O	OTTHUMP00000017527|acetoacetyl Coenzyme A thiolase|acetyl-CoA acetyltransferase, cytosolic|acetyl-CoA transferase-like protein|cytosolic acetoacetyl-CoA thiolase	20110825
9606	40	ACCN1	-	ACCN|ASIC2|ASIC2a|BNC1|BNaC1|MDEG|hBNaC1	HGNC:99|MIM:601784|Ensembl:ENSG00000108684|HPRD:03471	17	17q12	amiloride-sensitive cation channel 1, neuronal	protein-coding	ACCN1	amiloride-sensitive cation channel 1, neuronal	O	OTTHUMP00000163794|acid-sensing ion channel 2|brain sodium channel 1|mammalian degenerin homolog|neuronal amiloride-sensitive cation channel 1	20111009
9606	41	ACCN2	-	ASIC|ASIC1|ASIC1A|BNaC2|hBNaC2	HGNC:100|MIM:602866|Ensembl:ENSG00000110881|HPRD:04182	12	12q12	amiloride-sensitive cation channel 2, neuronal	protein-coding	ACCN2	amiloride-sensitive cation channel 2, neuronal	O	ACCN2 variant 3|Cation channel, amiloride-sensitive, neuronal, 2|OTTHUMP00000242165|OTTHUMP00000242166|OTTHUMP00000242773|OTTHUMP00000242774|acid-sensing ion channel 1|acid-sensing ion channel 1a protein|brain sodium channel 2	20111013
9606	43	ACHE	-	ACEE|ARACHE|N-ACHE|YT	HGNC:108|MIM:100740|Ensembl:ENSG00000087085|HPRD:00010	7	7q22	acetylcholinesterase	protein-coding	ACHE	acetylcholinesterase	O	OTTHUMP00000211345|OTTHUMP00000211346|OTTHUMP00000211347|OTTHUMP00000211349|OTTHUMP00000211356|Yt blood group|apoptosis-related acetylcholinesterase	20111023
9606	46	ACLS	-	-	HGNC:114|MIM:200990	12	12p13.3-p11.2	acrocallosal syndrome	unknown	ACLS	acrocallosal syndrome	O	-	20111022
9606	47	ACLY	-	ACL|ATPCL|CLATP	HGNC:115|MIM:108728|Ensembl:ENSG00000131473|HPRD:00155	17	17q21.2	ATP citrate lyase	protein-coding	ACLY	ATP citrate lyase	O	ATP citrate synthase|ATP-citrate (pro-S-)-lyase|ATP-citrate synthase|OTTHUMP00000164772|OTTHUMP00000164773|citrate cleavage enzyme	20111009
9606	48	ACO1	RP11-334P12.1	ACONS|IREB1|IREBP|IREBP1|IRP1	HGNC:117|MIM:100880|Ensembl:ENSG00000122729|HPRD:00013	9	9p22-q32|9p21.1	aconitase 1, soluble	protein-coding	ACO1	aconitase 1, soluble	O	IRE-BP 1|OTTHUMP00000021176|OTTHUMP00000021177|aconitate hydratase|citrate hydro-lyase|cytoplasmic aconitate hydratase|ferritin repressor protein|iron regulatory protein 1|iron-responsive element binding protein 1|iron-responsive element-binding protein 1	20111009
9606	49	ACR	-	-	HGNC:126|MIM:102480|Ensembl:ENSG00000100312|HPRD:06342	22	22q13-qter|22q13.33	acrosin	protein-coding	ACR	acrosin	O	OTTHUMP00000196479|preproacrosin|proacrosin	20111009
9606	50	ACO2	-	ACONM|MGC20605|MGC33908	HGNC:118|MIM:100850|Ensembl:ENSG00000100412|HPRD:00012	22	22q11.2-q13.31|22q13.2	aconitase 2, mitochondrial	protein-coding	ACO2	aconitase 2, mitochondrial	O	OTTHUMP00000165920|OTTHUMP00000165921|aconitate hydratase, mitochondrial|citrate hydro-lyase	20111009
9606	51	ACOX1	-	ACOX|MGC1198|PALMCOX|SCOX	HGNC:119|MIM:609751|Ensembl:ENSG00000161533|HPRD:02030	17	17q24-q25|17q25.1	acyl-CoA oxidase 1, palmitoyl	protein-coding	ACOX1	acyl-CoA oxidase 1, palmitoyl	O	AOX|acyl-CoA oxidase, straight-chain|acyl-Coenzyme A oxidase 1, palmitoyl|palmitoyl-CoA oxidase|peroxisomal acyl-coenzyme A oxidase 1|peroxisomal fatty acyl-CoA oxidase|straight-chain acyl-CoA oxidase	20110819
9606	52	ACP1	-	HAAP|MGC111030|MGC3499	HGNC:122|MIM:171500|Ensembl:ENSG00000143727|HPRD:08881	2	2p25	acid phosphatase 1, soluble	protein-coding	ACP1	acid phosphatase 1, soluble	O	LMW-PTP|LMW-PTPase|OTTHUMP00000109538|OTTHUMP00000109539|OTTHUMP00000199909|OTTHUMP00000199910|OTTHUMP00000199911|OTTHUMP00000199914|acid phosphatase of erythrocyte|adipocyte acid phosphatase|cytoplasmic phosphotyrosyl protein phosphatase|low molecular weight cytosolic acid phosphatase|low molecular weight phosphotyrosine protein phosphatase|protein tyrosine phosphatase|red cell acid phosphatase 1	20111009
9606	53	ACP2	-	-	HGNC:123|MIM:171650|Ensembl:ENSG00000134575|HPRD:01375	11	11p11.2|11p12-p11	acid phosphatase 2, lysosomal	protein-coding	ACP2	acid phosphatase 2, lysosomal	O	LAP|OTTHUMP00000234497|OTTHUMP00000234498|OTTHUMP00000234499|OTTHUMP00000234584|OTTHUMP00000234586|OTTHUMP00000234587|OTTHUMP00000234588|OTTHUMP00000234663|lysosomal acid phosphatase	20111009
9606	54	ACP5	-	MGC117378|SPENCDI|TRAP	HGNC:124|MIM:171640|Ensembl:ENSG00000102575|HPRD:01374	19	19p13.3-p13.2	acid phosphatase 5, tartrate resistant	protein-coding	ACP5	acid phosphatase 5, tartrate resistant	O	TrATPase|tartrate-resistant acid ATPase|tartrate-resistant acid phosphatase type 5	20111009
9606	55	ACPP	-	5'-NT|ACP-3|ACP3|PAP	HGNC:125|MIM:171790|Ensembl:ENSG00000014257|HPRD:01378	3	3q21-q23	acid phosphatase, prostate	protein-coding	ACPP	acid phosphatase, prostate	O	5'-nucleotidase|OTTHUMP00000216106|OTTHUMP00000216107|OTTHUMP00000216108|TMPase|ecto-5'-nucleotidase|prostatic acid phosphatase|prostatic acid phosphotase|thiamine monophosphatase	20111009
9606	56	ACRV1	-	D11S4365|SP-10|SPACA2	HGNC:127|MIM:102525|Ensembl:ENSG00000134940|HPRD:00014	11	11q23-q24	acrosomal vesicle protein 1	protein-coding	ACRV1	acrosomal vesicle protein 1	O	OTTHUMP00000231310|OTTHUMP00000231311|OTTHUMP00000231312|OTTHUMP00000231313|acrosomal protein SP-10|sperm protein 10	20110927
9606	58	ACTA1	RP5-1068B5.2	ACTA|ASMA|CFTD|CFTD1|CFTDM|MPFD|NEM1|NEM2|NEM3	HGNC:129|MIM:102610|Ensembl:ENSG00000143632|HPRD:00030	1	1q42.13	actin, alpha 1, skeletal muscle	protein-coding	ACTA1	actin, alpha 1, skeletal muscle	O	OTTHUMP00000036123|OTTHUMP00000037464|OTTHUMP00000037465|actin, alpha skeletal muscle|alpha skeletal muscle actin|alpha-actin-1	20111009
9606	59	ACTA2	GIG46	AAT6|ACTSA|MYMY5	HGNC:130|MIM:102620|Ensembl:ENSG00000107796|HPRD:00031	10	10q23.3	actin, alpha 2, smooth muscle, aorta	protein-coding	ACTA2	actin, alpha 2, smooth muscle, aorta	O	OTTHUMP00000020042|actin, aortic smooth muscle|alpha 2 actin|alpha-actin-2|alpha-cardiac actin|cell growth-inhibiting gene 46 protein|growth-inhibiting gene 46	20111009
9606	44444	TEAD1	-	AA|FLJ17970|NTEF-1|REF1|TCF-13|TCF13|TEAD-1|TEF-1	HGNC:11714|MIM:189967|Ensembl:ENSG00000187079|HPRD:01802	11	11p15.2	TEA domain family member 1 (SV40 transcriptional enhancer factor)	protein-coding	TEAD1	TEA domain family member 1 (SV40 transcriptional enhancer factor)	O	OTTHUMP00000231380|OTTHUMP00000231431|protein GT-IIC|transcription factor 13|transcriptional enhancer factor 1|transcriptional enhancer factor TEF-1	20111020
