<bean id="spacesUtil" class="ubic.gemma.util.grid.javaspaces.SpacesUtil" />
<!--  Interceptor for monitoring services (performance, cache use, etc)  -->
<!-- <bean id="monitoredPointcut" class="org.springframework.aop.support.annotation.AnnotationMatchingPointcut">
	<constructor-arg type="java.lang.Class" value="" />
	<constructor-arg type="java.lang.Class" value="ubic.gemma.util.monitor.Monitored" />
</bean>
-->
<bean id="monitorInterceptor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
	<property name="advice">
		<ref bean="monitorAdvice" />
	</property>
	<property name="patterns">
		<list>
			<value>.*\\.load.*</value>
			<value>.*\\.get.*</value>
			<value>.*\\.find.*</value>
		</list>
	</property>
</bean>
<bean id="monitorAdvice" class="ubic.gemma.util.monitor.MonitorAdvice">
	<property name="sessionFactory">
		<ref bean="sessionFactory" />
	</property>
</bean>

<!-- cache beans -->
<bean id="gene2GeneCoexpressionCache" class="ubic.gemma.model.association.coexpression.Gene2GeneCoexpressionCache">
	<property name="cacheManager">
		<ref bean="cacheManager" />
	</property>
</bean>

<bean id="probe2ProbeCoexpressionCache" class="ubic.gemma.model.association.coexpression.Probe2ProbeCoexpressionCache">
	<property name="cacheManager">
		<ref bean="cacheManager" />
	</property>
</bean>

<bean id="processedDataVectorCache" class="ubic.gemma.model.expression.bioAssayData.ProcessedDataVectorCache">
	<property name="cacheManager">
		<ref bean="cacheManager" />
	</property>
</bean>